<li class="static-comments-reply h-cite{% if webmention.author.name == '' %} static-comments-reply-anonymous{% endif %}" id="webmention-{{ webmention['wm-id'] }}">
  <div class="static-comments-hed">
    {% if webmention.url != "" %}<a class="static-comments-original h-card u-url" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">{% endif %}
    {% if webmention.author and webmention.author.photo != "" %}
      <img class="static-comments-img u-photo" src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}" loading="lazy">
    {% else %}
      <img class="static-comments-img" src="{{ '/web/img/webmention-avatar-default.svg' | url }}" alt="" loading="lazy">
    {% endif %}

    {% if webmention.author %}
      <h3 class="static-comments-title p-name cased">{% if webmention.author.name != "" %}{{ webmention.author.name }}{% else %}Anonymous{% endif %} {% if webmention.author.url != "" %}<span class="static-comments-title-twitter">{{ webmention.author.url | twitterUsernameFromUrl }}</span>{% endif %}</h3>
    {% endif %}
    {% if webmention.url != "" %}</a>{% endif %}

    {% if showType %}
    {% if webmention['wm-property'] == "repost-of" %} <span class="static-comments-tag tag-inline">Retweet</span>{% endif %}
    {% if webmention['wm-property'] == "like-of" %} <span class="static-comments-tag tag-inline">Like</span>{% endif %}
    {% if webmention['wm-property'] == "in-reply-to" %} <span class="static-comments-tag tag-inline">Reply</span>{% endif %}
    {% if webmention['wm-property'] == "mention-of" %} <span class="static-comments-tag tag-inline">Mention</span>{% endif %}
    {% endif %}

    {% if webmention.published %}
      <em class="static-comments-date"><a href="#webmention-{{ webmention['wm-id'] }}"><time class="dt-published" datetime="{{ webmention.published }}">{{ webmention.published | readableDateFromISO: "h:mma'—'dd LLL yyyy" }}</time></a></em>
    {% endif %}
  </div>

  {% if webmention['wm-property'] == "repost-of" or webmention['wm-property'] == "like-of" %}
  {% else %}
  <div class="static-comments-msg p-content"><p>
    {% if webmention.content.html %}{{ webmention.content.html }}{% else %}{{ webmention.content.text }}{% endif %}
  </p></div>
  {% endif %}

  {% if showTarget %}
  <a href="{{ webmention['wm-target'] }}" class="tag-inline tag-cased">{{ webmention['wm-target'] | localUrl }}</a>
  {% endif %}
</li><!-- /static-comments-reply -->
