<li class="static-comments-reply h-cite" id="webmention-{{ webmention['wm-id'] }}">
  <div class="static-comments-hed">
    {% if webmention.url != "" %}<a class="static-comments-original h-card u-url" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">{% endif %}
    {% if webmention.author and webmention.author.photo != "" %}
      <img class="static-comments-img u-photo" src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}" loading="lazy">
    {% else %}
      <img class="static-comments-img" src="{{ '/web/img/webmention-avatar-default.svg' | url }}" alt="" loading="lazy">
    {% endif %}

    {% if webmention.author %}
      <h3 class="static-comments-title p-name">{% if webmention.author.name != "" %}{{ webmention.author.name }}{% else %}Anonymous{% endif %}</h3>
    {% endif %}
    {% if webmention.url != "" %}</a>{% endif %}

    {% if webmention.published %}
      <em class="static-comments-date"><a href="#webmention-{{ webmention['wm-id'] }}"><time class="dt-published" datetime="{{ webmention.published }}">{{ webmention.published | dateFromTimestamp | readableDate }}</time></a></em>
    {% endif %}
  </div>
  {% if ignoreContent %}
  {% else %}
  <div class="static-comments-msg p-content"><p>
    {{ webmention.content.text }}
  </p></div>
  {% endif %}
</li><!-- /static-comments-reply -->
