{% assign sentiment = webmention.content.text | getSentimentValue %}
<li class="static-comments-reply{% if sentiment < 0 %} static-comments-reply-salty{% endif %} h-cite" id="webmention-{{ webmention['wm-id'] }}">
  <div class="static-comments-hed">
    {% if webmention.author and webmention.author.photo != "" -%}
      <img class="static-comments-img u-photo" src="{{ '/web/img/webmention-avatar-default.svg' | url }}" data-src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}">
    {%- else -%}
      <img class="static-comments-img" src="{{ '/web/img/webmention-avatar-default.svg' | url }}" alt="">
    {%- endif -%}

    {%- if webmention.author -%}
      <h3 class="static-comments-title p-name cased" title="{% if webmention.author.name != "" %}{{ webmention.author.name }}{% elsif webmention.url %}{{ webmention.url | hostnameFromUrl }}{% else %}Anonymous{% endif %} {% if webmention.author.url != "" %}{{ webmention.author.url | twitterUsernameFromUrl }}{% endif %}">{% if webmention.author.name != "" %}{{ webmention.author.name }}{% elsif webmention.url %}<em>{{ webmention.url | hostnameFromUrl }}</em>{% else %}Anonymous{% endif %} {% if webmention.author.url != "" %}<span class="static-comments-title-twitter">{{ webmention.author.url | twitterUsernameFromUrl }}</span>{% endif %}</h3>
    {%- endif -%}

    {% if showType %}
    {% if webmention['wm-property'] == "repost-of" %} <span class="static-comments-tag tag-inline">Retweet</span>{% endif %}
    {% if webmention['wm-property'] == "like-of" %} <span class="static-comments-tag tag-inline">Like</span>{% endif %}
    {% if webmention['wm-property'] == "in-reply-to" %} <span class="static-comments-tag tag-inline">Reply</span>{% endif %}
    {% if webmention['wm-property'] == "mention-of" %} <span class="static-comments-tag tag-inline">Mention</span>{% endif %}
    {% endif %}

    {% if webmention.published %}
      <em class="static-comments-date">
        {%- if webmention.url != "" %}<a class="h-card u-url" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">{% endif -%}
        <time class="dt-published" datetime="{{ webmention.published }}">{{ webmention.published | readableDateFromISO: "h:mma'<br>&#160;'dd LLL yyyy" }}</time>
        {%- if webmention.url != "" %}</a>{% endif -%}
      </em>
    {% endif %}
  </div>

  {% if webmention['wm-property'] == "repost-of" or webmention['wm-property'] == "like-of" %}
  {% else %}
  <div class="static-comments-msg p-content{% if webmention.content.text.length > 5000 %} static-comments-msg-long{% endif %}"><p>
    {%- if webmention.published %}{% else if webmention.url != "" %}
    <a class="h-card u-url" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">Show original post</a>
    {% endif -%}
    {{ webmention.content.text | escapeGoat | randomCase: sentiment }}
    <a href="#webmention-{{ webmention['wm-id'] }}" class="static-comments-selflink exempt">#</a>
  </p></div>
  {% endif %}

  {% if showTarget %}
  <a href="{{ webmention['wm-target'] }}" class="tag-inline tag-cased">{{ webmention['wm-target'] | localUrl }}</a>
  {% endif %}
</li><!-- /static-comments-reply -->
