<div class="webmentions content-grid-sibling" id="webmentions">
  {%- assign reposts = webmentions | webmentionsForUrl: absoluteUrl, 'repost-of' -%}
  {%- assign repostsSize = reposts | size -%}
  {%- assign likes = webmentions | webmentionsForUrl: absoluteUrl, 'like-of' -%}
  {%- assign likesSize = likes | size -%}
  {% if repostsSize > 0 %}
  <div class="webmentions__facepile">
    <h3{% if repostsSize > 11 or likesSize > 11 %} class="webmentions__facepile__hedlg"{% endif %}>{{ repostsSize }} Retweet{% if repostsSize != 1 %}s{% endif %}</h3>
    {%- for webmention in reposts -%}
      {%- if webmention.url != "" -%}
      <a class="h-card u-url link-u-exempt" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">
      {%- endif -%}
      <img {% if webmention.author.photo != "" %}src="{{ webmention.author.photo | eleventyImageService }}"{% else %}src="{{ '/web/img/webmention-avatar-default.svg' | url }}"{% endif %}" alt="{{ webmention.author.name | htmlEntities }}" class="webmentions__face" width="48" height="48" loading="lazy" decoding="async" />
      {%- if webmention.url != "" -%}
      </a>
      {%- endif -%}
    {%- endfor -%}
  </div>
  {% endif %}

  {% if likesSize > 0 %}
  <div class="webmentions__facepile">
    <h3{% if repostsSize > 11 or likesSize > 11 %} class="webmentions__facepile__hedlg"{% endif %}>{{ likesSize }} Like{% if likesSize != 1 %}s{% endif %}</h3>
    {%- for webmention in likes -%}
      {%- if webmention.url != "" -%}
      <a class="h-card u-url link-u-exempt" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">
      {%- endif -%}
      <img {% if webmention.author.photo != "" %}src="{{ webmention.author.photo | eleventyImageService }}"{% else %}src="{{ '/web/img/webmention-avatar-default.svg' | url }}"{% endif %}" alt="{{ webmention.author.name | htmlEntities }}" class="webmentions__face" width="48" height="48" loading="lazy" decoding="async"/>
      {%- if webmention.url != "" -%}
      </a>
      {%- endif -%}
    {%- endfor -%}
  </div>
  {% endif %}

  {%- assign bookmarks = webmentions | webmentionsForUrl: absoluteUrl, 'bookmark-of' -%}
  {%- assign bookmarksSize = bookmarks | size -%}
  {% if bookmarksSize > 0 %}
  <details>
    <summary class="hed-h3">{{ bookmarksSize }} Bookmark{% if bookmarksSize != 1 %}s{% endif %}</summary>
    <ol class="static-comments static-comments-webmentions favicon-optin">
      {% for webmention in bookmarks %}
        {% include "webmention" %}
      {% endfor %}
    </ol>
  </details>
  {% endif %}

  {%- assign replies = webmentions | webmentionsForUrl: absoluteUrl, 'in-reply-to' -%}
  {% assign disqusCommentSize = 0 %}
  {% if disqus %}{% assign disqusCommentSize = disqus.commentCount %}{% endif %}
  {%- assign repliesSize = replies | size | plus: disqusCommentSize -%}
  {% if repliesSize > 0 %}
  <details id="comments">
    <summary class="hed-h3">{{ repliesSize }} {% if repliesSize == "1" %}Reply{% else %}Replies{% endif %}</summary>
    <ol class="static-comments static-comments-webmentions favicon-optin">
      {% for webmention in replies %}
        {% include "webmention" %}
      {% endfor %}
    </ol>

    <ol class="static-comments favicon-optin">
    {% for comment in disqus.comments %}
      {% include "comment-entry.html" %}
    {% endfor %}
    </ol>
  </details>
  {% endif %}

  {%- assign mentions = webmentions | webmentionsForUrl: absoluteUrl, 'mention-of' -%}
  {%- assign mentionsSize = mentions | size -%}
  <details class="{% if mentionsSize == 0 %}static-comments-empty{% endif %}">
    {% if mentionsSize > 0 -%}
    <summary class="hed-h3">{{ mentionsSize }} Mention{% if mentionsSize != 1 %}s{% endif %}</summary>
    {%- else -%}
    <summary class="sr-only">Webmentions</summary>
    {%- endif %}
    <ol class="static-comments static-comments-webmentions favicon-optin">
      {% for webmention in mentions %}
        {% include "webmention" %}
      {% endfor %}
    </ol>
  </details>



  <form action="https://webmention.io/www.zachleat.com/webmention" method="post" class="form-webmention">
    <label for="form-webmention-source">Mention this post from your site:</label>
    <input id="form-webmention-source" type="url" name="source" placeholder="https://example.com" required>
    <input type="hidden" name="target" value="https://www.zachleat.com{{ page.url }}">
    <input type="submit" class="button" value="Send Webmention">
  </form>

  <ul class="notes list-flush">
    <li class="notes_note">These are <a href="https://indieweb.org/Webmention">webmentions</a> via the <a href="https://indieweb.org/">IndieWeb</a> and <a href="https://webmention.io/">webmention.io</a>.</li>
  </ul>
</div>