<div class="webmentions" id="webmentions">
  {%- assign reposts = webmentions.children | webmentionsForUrl: absoluteUrl, 'repost-of' -%}
  {%- assign repostsSize = reposts | size -%}
  {% if repostsSize > 0 %}
  <h3>{{ repostsSize }} Retweet{% if repostsSize != 1 %}s{% endif %}</h3>
  <div class="webmentions__facepile">
    {% for webmention in reposts %}
      {% if webmention.url != "" %}
      <a class="h-card u-url link-u-exempt" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">
      {% endif %}
      <img src="{% if webmention.author.photo != "" %}{{ webmention.author.photo }}{% else %}{{ '/web/img/webmention-avatar-default.svg' | url }}{% endif %}" title="{{ webmention.author.name }}" alt="" class="webmentions__face" />
      {% if webmention.url != "" %}
      </a>
      {% endif %}
      &#160;
    {% endfor %}
  </div>
  {% endif %}

  {%- assign likes = webmentions.children | webmentionsForUrl: absoluteUrl, 'like-of' -%}
  {%- assign likesSize = likes | size -%}
  {% if likesSize > 0 %}
  <h3>{{ likesSize }} Like{% if likesSize != 1 %}s{% endif %}</h3>
  <div class="webmentions__facepile">
    {% for webmention in likes %}
      {% if webmention.url != "" %}
      <a class="h-card u-url link-u-exempt" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">
      {% endif %}
      <img src="{% if webmention.author.photo != "" %}{{ webmention.author.photo }}{% else %}{{ '/web/img/webmention-avatar-default.svg' | url }}{% endif %}" title="{{ webmention.author.name }}" alt="" class="webmentions__face" />
      {% if webmention.url != "" %}
      </a>
      {% endif %}
      &#160;
    {% endfor %}
  </div>
  {% endif %}

  {%- assign replies = webmentions.children | webmentionsForUrl: absoluteUrl, 'in-reply-to' -%}
  {% assign disqusCommentSize = 0 %}
  {% if disqus %}{% assign disqusCommentSize = disqus.commentCount %}{% endif %}
  {%- assign repliesSize = replies | size | plus: disqusCommentSize -%}
  {% if repliesSize > 0 %}
  <details id="comments">
    <summary class="hed-h3">{{ repliesSize }} {% if repliesSize == "1" %}Reply{% else %}Replies{% endif %}</summary>
    <ol class="static-comments">
      {% for webmention in replies %}
        {% include webmention %}
      {% endfor %}
    </ol>

    <ol class="static-comments">
    {% for comment in disqus.comments %}
      {% include comment-entry.html %}
    {% endfor %}
    </ol>
  </details>
  {% endif %}

  {%- assign mentions = webmentions.children | webmentionsForUrl: absoluteUrl, 'mention-of' -%}
  {%- assign mentionsSize = mentions | size -%}
  <details>
    <summary class="hed-h3">{{ mentionsSize }} Mention{% if mentionsSize != 1 %}s{% endif %}</summary>
    <ol class="static-comments">
      {% for webmention in mentions %}
        {% include webmention %}
      {% endfor %}
    </ol>
  </details>

  <form action="https://webmention.io/www.zachleat.com/webmention" method="post" class="form-webmention">
    <label for="form-webmention-source">Mention this post from your site:</label>
    <input id="form-webmention-source" type="url" name="source" placeholder="https://example.com">
    <input type="hidden" name="target" value="https://www.zachleat.com/web{{ page.url }}">
    <input type="submit" class="button" value="Send Webmention">
  </form>
</div>