---
pagination:
  data: collections.posts
  size: 1
  alias: post
layout: layouts/og.liquid
permalink: "/opengraph{{ post.data.page.url }}"
eleventyComputed:
  sourceUrl: "http://www.zachleat.com{{ post.data.page.url }}"
---
<main class="main">
  <div>
    <h1 class="primary-title main-hed"><span class="main-box">{% if post.data.titleHtml %}{{ post.data.titleHtml }}{% else %}{{ post.data.title }}{% endif %}</span></h1>
  </div>
  <p>
    <em class="main-box">{{ page.date | readableDate }}</em>
    {% imgavatar "zachleat", "z-avatar-large" %} <strong class="main-box">Zach Leatherman</strong>
  </p>
</main>
{% comment %}
Ideas:
* Git last updated
* Number of comments
* Popularity
{% endcomment %}