---
layout: layouts/page.liquid
title: Résumé
hidePostsInSidebar: true
stylesheets:
 - "/resume/index.css"
scripts:
 - "/static/details-utils.js"
---
<div class="h-resume">
	<header class="resume-header h-card p-contact">
		<a href="https://www.zachleat.com/" class="resume-title resume-header-block u-url">
			<h1 class="resume-title-hed p-name">Zach Leatherman</h1>
		</a>

		<ul class="resume-header-block">
			<li><a href="mailto:zach@zachleat.com" class="u-email">zach@zachleat.com</a></li>
			<li><a href="https://www.zachleat.com/resume/">zachleat.com/resume</a></li>
		</ul>
	</header>

	<section>
		<ul class="resume-toc">
			<li><a href="#community">Community</a></li>
			<li><a href="#professional">Professional</a></li>
			<li><a href="#education">Education</a></li>
		</ul>
	</section>

	<section>
		<h2 id="community" class="hed-h3">Community</h2>

		<ul class="resume-list">
			<li>
				{% assign countryCount = collections.all | getSpeakingUniqueCount: "country" %}
				{% assign conferenceCount = collections.all | getSpeakingCount: "type", "conference" %}
				{% assign meetupCount = collections.all | getSpeakingCount: "type", "meetup" %}
				{% assign barcampCount = collections.all | getSpeakingCount: "type", "barcamp" %}
				{% assign podcastCount = collections.all | getSpeakingCount: "type", "podcast" %}
				{% assign lectureCount = collections.all | getSpeakingCount: "type", "lecture" %}
				<a href="/web/speaking/"><strong class="p-skill">Public Speaker</strong></a> in
				{{ countryCount }} countries:
				{{ conferenceCount }} conference{% if conferenceCount != 1 %}s{% endif %},
				{{ meetupCount }} meetup{% if meetupCount != 1 %}s{% endif %},
				{{ barcampCount }} barcamp{% if barcampCount != 1 %}s{% endif %},
				{{ podcastCount }} podcast{% if podcastCount != 1 %}s{% endif %},
				and {{ lectureCount | numberString }} University lecture{% if lectureCount != 1 %}s{% endif %}.
				<ul class="resume-desc">
					<li>Events like <a href="https://jamstackconf.com/" class="resume-nbsp">{% imgavatar "jamstackconf" %}JAMstack_conf</a> <span class="resume-subnote">(×2)</span>, <a href="https://beyondtellerrand.com/"><span class="resume-nbsp">{% imgavatar "btconf" %}Beyond</span> Tellerrand</a>, <a href="https://smashingconf.com/"><span class="resume-nbsp">{% imgavatar "smashingconf" %}Smashing</span> Conference</a> <span class="resume-subnote">(×5)</span>, <a href="https://2014.cssconf.com/" class="resume-nbsp z-avatars-square">{% imgavatar "CSSConf" %}CSSConf</a>, and the first ever <a href="https://obamawhitehouse.archives.gov/blog/2015/04/14/friday-tech-meetup-white-house-0">Tech Meetup at {% imgavatar "TheWhiteHouse" %}The White House</a>.</li>
				</ul>
			</li>

			<li>
				<strong class="p-skill">Technical Writer</strong> on <a href="http://www.zachleat.com/">zachleat.com</a>, a Web Development Blog.
				<ul class="resume-desc">
					<li><a href="/web/?category=writing">{{ collections.writing | size | renderNumber }} posts</a> since February 2007. On my writing,
						<ul>
							<li><span class="resume-nbsp">{% imgavatar "sarah_edo", "z-avatar-first" %}Sarah</span> Drasner <a href="https://twitter.com/sarah_edo/status/1067122136412614656">said</a> she <em>“shaved full seconds off this big application […] by following some of Zach’s great materials […]”</em></li>
							<li><span class="resume-nbsp">{% imgavatar "adactio", "z-avatar-first" %}Jeremy</span> Keith <a href="https://adactio.com/links/14311">twice</a> <a href="https://adactio.com/journal/14329">said</a> <em>“Always ask yourself What Would Zach Do?”</em></li>
							<li><span class="resume-nbsp">{% imgavatar "paul_irish", "z-avatar-first" %}Paul</span> Irish <a href="https://twitter.com/paul_irish/status/295705697117691904">called me</a> <em>“damn smart”</em>—a debatable claim, to be sure.</li>
						</ul>
					</li>
					<li>{{ totalAnalyticsPageViews | renderNumber }} lifetime pageviews and growing. <a href="/web/best-of/" class="resume-print-link">Read the most popular ones</a></li>
				</ul>
			</li>

			<li>
				<strong class="p-skill">Conference Organizer</strong> and Co-founder of <a href="https://nejsconf.com/">{% imgavatar "nejsconf" %}NEJS CONF</a>.
				<ul class="resume-desc">
					<li><span class="resume-date">2015 to 2019</span>: five conferences, 46 speakers, ~200 attendees per year.</li>
				</ul>
			</li>

			<li>
				<strong class="p-skill">Lead Organizer</strong> for <a href="https://nebraskajs.com/">{% imgavatar "nebraskajs" %}NebraskaJS</a>, a JavaScript meetup.
				<ul class="resume-desc">
					<li><span class="resume-date">2012 to 2018</span>: {{ meetup.nebraskajs | renderNumber }} members and growing, 50+ speakers, 90+ events.</li>
				</ul>
			</li>

			<li>
				<strong>Open Source</strong>
				<ul class="resume-desc">
					<li><a href="https://www.11ty.dev/">{% imgavatar "eleven_ty", "z-avatar-first" %}Eleventy</a> <span class="resume-subnote">(☆ {{ stargazers.eleventy | renderNumber }})</span> <span class="p-skill">creator and maintainer</span>.
						<ul>
							<li>Used in production by Google, V8, W3C, Cern, MIT, Stanford, WebPageTest, CSS-Tricks, Netlify, Red Hat, <a href="https://www.11ty.dev/#logos">and others</a>.</li>
							<li>Shipped <a href="https://www.11ty.dev/blog/stability/">56 versions</a>, with {{ eleventyNpmDownloads.downloads | renderNumber }} downloads (npm), in use by <a href="https://github.com/11ty/eleventy/network/dependents">65<abbr title="thousand">K</abbr>+ repositories (GitHub)</a>.</li>
							<li>Three-time winner of the Google Open Source Peer Bonus Award in <a href="https://opensource.googleblog.com/2018/03/congratulating-open-source-peer-bonus-winners.html" class="dtstart">2018</a>, <a href="https://opensource.googleblog.com/2019/04/google-open-source-peer-bonus-winners.html" class="dtstart">2019</a>, and <a href="https://opensource.googleblog.com/2022/03/Announcing-First-Group-of-Google-Open-Source-Peer-Bonus-Winners-in-2022.html">2022</a> and <a href="https://www.producthunt.com/products/eleventy">#1 Product of the Day</a> on Product Hunt.</li>
							<li><span class="resume-nbsp">{% imgavatar "addyosmani", "z-avatar-first" %}Addy</span> Osmani called it <em>“absolutely wonderful.”</em></li>
							<li><span class="resume-nbsp">{% imgavatar "chriscoyier", "z-avatar-first" %}Chris</span> Coyier said it was <em>“almost fascinatingly simple.”</em></li>
							<li>Read <a href="https://www.11ty.dev/docs/testimonials/" class="resume-print-link resume-print-link-ext" data-print-href="11ty.dev/docs/testimonials/">more Eleventy testimonials from <span class="resume-nbsp">{% imgavatar "mathias" %}Mathias</span> Bynens, <span class="resume-nbsp">{% imgavatar "MinaMarkham" %}Mina</span> Markham, and others</a>.</li>
						</ul>
					</li>
					<li>Implemented and documented font loading strategies for both <a href="/web/css-tricks-web-fonts/">{% imgavatar "css" %}CSS Tricks</a> and <a href="/web/the-compromise/">{% imgavatar "smashingmag" %}Smashing Magazine</a>.</li>
				</ul>
			</li>
		</ul>
	</section>

	<section>
		<h2 id="professional" class="hed-h3">Professional</h2>

		<ul class="resume-list">
			<li>
				<strong>Developer Advocate</strong> for <a href="https://cloudcannon.com/">{% indieAvatar "https://cloudcannon.com/" %}CloudCannon</a>
				<address class="resume-location h-adr">
					Remote to
					<span class="p-locality">Dunedin</span>,
					<abbr class="p-region" title="New Zealand">NZ</abbr>
				</address>
				<ul class="resume-desc">
					<li class="resume-date">August 2023 to Present</li>
				</ul>
			</li>

			<li>
				<strong>Staff Engineer</strong> for <a href="https://www.netlify.com/">{% indieAvatar "https://www.netlify.com/" %}Netlify</a>
				<address class="resume-location h-adr">
					Remote to
					<span class="p-locality">San Francisco</span>,
					<abbr class="p-region" title="California">CA</abbr>
				</address>
				<ul class="resume-desc">
					<li class="resume-date">February 2022 to July 2023</li>
					<li>Full time open source on <a href="https://www.11ty.dev/">{% imgavatar "eleven_ty", "z-avatar-first" %}Eleventy</a> <em>(read more above)</em></li>
				</ul>
			</li>

			<li>
				<strong>Senior Web Developer</strong> for <a href="https://www.netlify.com/">{% indieAvatar "https://www.netlify.com/" %}Netlify</a>
				<address class="resume-location h-adr">
					Remote to
					<span class="p-locality">San Francisco</span>,
					<abbr class="p-region" title="California">CA</abbr>
				</address>
				<ul class="resume-desc">
					<li class="resume-date">January 2020 to February 2022</li>
					<li>Migrated <a href="https://www.zachleat.com/web/eleventy-vue-netlify/">netlify.com to Eleventy and Vue</a>, improving developer velocity, non-technical contributor workflow, and site performance.</li>
					<li>Shipped new Eleventy-based marketing sites (on a dev team of two) under very tight deadlines: <a href="https://jamstack.org/">jamstack.org</a>, <a href="https://jamstack.org/conf/">Jamstack Conf</a> <span class="resume-subnote">(×3)</span>, <a href="https://headlesscommercesummit.com/">Headless Commerce Summit</a>, <a href="https://jamstack.org/survey/2022/">Jamstack Community Survey</a>, <a href="https://your-year-on.netlify.com/">Your Year on Netlify</a>. Helped on the <a href="https://million-devs.netlify.com/">Million Devs</a> project (Vue).</li>
					<li>Developed <a href="https://www.11ty.dev/docs/plugins/serverless/">serverless adapter</a> to support <a href="https://www.zachleat.com/twitter/1405650895665254406">live previews in Sanity CMS</a>.</li>
					<li><em>Learn more from <a href="https://www.zachleat.com/twitter/1486739892667400193">2022</a> or <a href="https://www.zachleat.com/twitter/1354812100791554052">2021</a>.</em></li>
				</ul>
			</li>

			<li>
				<strong>Web Developer</strong> for <a href="https://filamentgroup.com/">{% imgavatar "filamentgroup" %}Filament Group</a>
				<address class="resume-location h-adr">
					Remote to
					<span class="p-locality">Boston</span>,
					<abbr class="p-region" title="Massachusetts">MA</abbr>
				</address>
				<ul class="resume-desc">
					<li class="resume-date">June 2012 to January 2020</li>
					<li>Web development and consulting focused on a web for everyone: Performance, Responsive Design, Accessibility, and more. Personal specialties included web fonts, accessible forms, and responsive tables.</li>
				</ul>
				<details-utils force-close="not print" force-open="print">
					<details open>
						<summary>Expand to learn more <span class="resume-subnote">(×3)</span></summary>
						<ul class="resume-desc">
							<li>Voted Agency of the Year, <a href="https://thenetawards.com/">.net Awards 2015</a></li>
							<li>Worked with clients like <a href="https://www.lego.com/">LEGO</a>, <a href="https://www.akamai.com">Akamai</a>, <a href="https://globalnews.ca">Global News</a>, <a href="https://www.rent.com/">rent.com</a>, <a href="https://www.salary.com/">salary.com</a>, <a href="https://www.ebay.com">ebay</a>, <a href="https://www.cnn.com">CNN</a>, <a href="https://forrester.com/">Forrester Research</a>, <a href="https://www.attivio.com">attivio</a>, Objective Logistics, <a href="https://www.retailmenot.com">RetailMeNot</a>, <a href="https://www.libertymutual.com">Liberty Mutual</a>, and more.</li>
							{% comment %} <li>Converted type character designs into a multi-layer multi-typeface web font implementation for previewing monograms on retail clothing.</li> {% endcomment %}
							<li>Standardized new project boilerplate and the release process for project maintenance.</li>
							{% comment %} <li>Wrote a lightweight no-dependency IE8-compatible polyfill for custom events.</li> {% endcomment %}
							{% comment %} <li>Developed a responsive reusable component library for email.</li> {% endcomment %}
						</ul>
					</details>
				</details-utils>
			</li>

			<li class="z-avatars-fff">
				<strong>Front End Architect</strong> for <span class="resume-nbsp">{% imgavatar "UnionPacific" %}Union</span> Pacific Railroad
				<address class="resume-location h-adr">
					<span class="p-locality">Omaha</span>,
					<abbr class="p-region" title="Nebraska">NE</abbr>
				</address>
				<ul class="resume-desc">
					<li class="resume-date">June 2011 to May 2012</li>
					<li>Responsible for setting the company's direction for mobile web application development.</li>
				</ul>
				<details-utils force-close="not print" force-open="print">
					<details open>
						<summary>Expand to learn more <span class="resume-subnote">(×3)</span></summary>
						<ul class="resume-desc">
							<li>Developed a input-device independent reusable component library to serve both mobile web and hybrid native applications.</li>
							<li>Ownership of all company auth pages, internal/external and mobile/desktop. Used progressive enhancement to expand device support.</li>
							{% comment %} <li>Evangelize front end development best practices including cross-browser compatible code, progressive enhancement, automated testing, and Responsive Web Design.</li> {% endcomment %}
							<li>Started an internal HTML5 and Open Web User Group to educate developers on new web platform features.</li>
						</ul>
					</details>
				</details-utils>
			</li>

			<li class="z-avatars-fff">
				<strong>Project Lead</strong> for <span class="resume-nbsp">{% imgavatar "UnionPacific" %}Union</span> Pacific Railroad
				<address class="resume-location h-adr">
					<span class="p-locality">Omaha</span>,
					<abbr class="p-region" title="Nebraska">NE</abbr>
				</address>
				<ul class="resume-desc">
					<li class="resume-date">July 2008 to May 2011</li>
					<li>Lead developer and support team for company-standard User Interface library and pattern library documentation used on web projects. Supported a large developer base (~1500 employees and contractors).</li>
					<li>Improved performance by reducing component initialization times between major versions by 5.2× using server side rendering.</li>
				</ul>
				<details-utils force-close="not print" force-open="print">
					<details open>
						<summary>Expand to learn more <span class="resume-subnote">(×3)</span></summary>
						<ul class="resume-desc">
							<li>62 separate reusable components across 5 simultaneous major code branches and over 50 versions.</li>
							<li>Adapted to new <abbr title="internationalization">i18n</abbr> requirements and the marketing department's brand refresh, centrally applied to all web projects.</li>
							<li>Prevented an Adobe Flexpocalypse by opposing adoption of Adobe Flex as the primary UI development tool using the merits of the Open Web.</li>
						</ul>
					</details>
				</details-utils>
			</li>

			<li class="z-avatars-fff">
				<strong>Web Developer</strong> for <span class="resume-nbsp">{% imgavatar "UnionPacific" %}Union</span> Pacific Railroad
				<address class="resume-location h-adr">
					<span class="p-locality">Omaha</span>,
					<abbr class="p-region" title="Nebraska">NE</abbr>
				</address>
				<ul class="resume-desc">
					<li class="resume-date">June 2006 to July 2008</li>
					<li>Shipped three internal web apps, receiving ~15<abbr title="million">M</abbr> hits per month.</li>
					<li>Developed build process for automated deployment including asset optimization, linting, integration and unit testing.</li>
				</ul>
			</li>
		</ul>
	</section>

	<section>
		<h2 id="education" class="hed-h3">Education</h2>

		<ul class="resume-list">
			<li>
				<strong>Computer Engineering</strong> at <a href="http://www.unl.edu/"><span class="resume-nbsp">{% imgavatar "UNLincoln" %}University</span> of Nebraska</a>
				<address class="resume-location h-adr">
					<span class="p-locality">Lincoln</span>,
					<abbr class="p-region" title="Nebraska">NE</abbr>
				</address>
				<ul class="resume-desc">
					<li class="resume-date">August 2001 to May 2006</li>
					<li><abbr title="Bachelor of Science">BS</abbr> in Computer Engineering, Minor in Mathematics</li>
					<!-- <li>College of Engineering Deans List <abbr class="dtstart" title="2005-05">Spring 2005</abbr></li> -->
					<li>Course Work in Semantic Web, Computer Architecture, Data Structures and Algorithms, Database Systems, Artificial Intelligence, Cryptography and Security, GUI and Unix Programming, Operating Systems and Kernels</li>
					<li>Engineering Study Abroad program in <address class="h-adr"><span class="p-locality">Fortaleza</span>, <abbr class="p-region" title="Ceará">CE</abbr>, <span class="p-country-name">Brazil</span></address></li>
				</ul>
			</li>
		</ul>
	</section>

	<section>
		<p class="resume-invitation">
			<span class="resume-print-only"><a href="/resume/" class="resume-print-link">This resume has its highest fidelity when viewed in a web browser</a>.</span> You're invited to view the source code and it will print nicely (but do you need to?). Uses the <code>h-resume</code> microformat. Generated with updated data on {{ now | readableDate }}.
		</p>
	</section>
</div>
