---
layout: layouts/page.liquid
title: Résumé
hidePopularInSidebar: true
stylesheetFull: /resume/index.css
twitterAccounts:
 - zachleat
 - eleven_ty
 - nebraskajs
 - nejsconf
 - fontspeed
---
<div class="h-resume">
  <header class="resume-header h-card p-contact">
    <a href="https://www.zachleat.com/" class="resume-title resume-header-block link-u-exempt u-url">
      <h1 class="resume-title-hed p-name">Zach Leatherman</h1>
    </a>

    <ul class="resume-header-block list-inline resume-block-sm">
      <li><a href="mailto:zach@zachleat.com" class="u-email">zach@zachleat.com</a></li>
      <li><a href="https://twitter.com/zachleat/">@zachleat</a></li>
      <li><a href="https://www.zachleat.com/resume/">zachleat.com/resume</a></li>
    </ul>
  </header>

  <section>
    <ul class="resume-toc list-inline">
      <li class="list-inline-nosep resume-ahw"><strong>Experience:</strong></li>
      <li><a href="#community">Community</a></li>
      <li><a href="#professional">Professional</a></li>
      <li><a href="#education">Educational</a></li>
    </ul>
  </section>

  <section>
    <h2 id="community">Community Experience</h2>

    <ul class="resume-list">
      <li>
        {% assign countryCount = collections.all | getSpeakingUniqueCount: "country" %}
        {% assign conferenceCount = collections.all | getSpeakingCount: "type", "conference" %}
        {% assign meetupCount = collections.all | getSpeakingCount: "type", "meetup" %}
        {% assign barcampCount = collections.all | getSpeakingCount: "type", "barcamp" %}
        {% assign podcastCount = collections.all | getSpeakingCount: "type", "podcast" %}
        {% assign lectureCount = collections.all | getSpeakingCount: "type", "lecture" %}
        <strong class="p-skill">Public Speaker</strong> in
        {{ countryCount | numberString }} different countries:
        {{ conferenceCount | numberString }} conference{% if conferenceCount != 1 %}s{% endif %},
        {{ meetupCount | numberString }} meetup{% if meetupCount != 1 %}s{% endif %},
        {{ barcampCount | numberString }} barcamp{% if barcampCount != 1 %}s{% endif %},
        {{ podcastCount | numberString }} podcast{% if podcastCount != 1 %}s{% endif %},
        and {{ lectureCount | numberString }} University guest lecture{% if lectureCount != 1 %}s{% endif %}.
        <ul class="resume-desc">
          <li>Events like <a href="https://jamstackconf.com/" class="resume-nbsp">{% imgavatar "jamstackconf" %}JAMstack_conf</a>, <a href="https://beyondtellerrand.com/"><span class="resume-nbsp">{% imgavatar "btconf" %}Beyond</span> Tellerrand</a>, <a href="https://smashingconf.com/"><span class="resume-nbsp">{% imgavatar "smashingconf" %}Smashing</span> Conference</a> <span class="resume-subnote">(×3)</span>, <a href="https://2014.cssconf.com/" class="resume-nbsp z-avatars-square">{% imgavatar "CSSConf" %}CSSConf</a>, and the first ever <a href="https://obamawhitehouse.archives.gov/blog/2015/04/14/friday-tech-meetup-white-house-0">Tech Meetup at {% imgavatar "TheWhiteHouse" %}The White House</a>.</li>
          <li><a href="/web/speaking/" class="resume-print-link">Full Speaking History</a></li>
        </ul>
      </li>

      <li>
        <strong class="p-skill">Technical Writer</strong> on <a href="http://www.zachleat.com/">zachleat.com</a>, a Web Development Blog.
        <ul class="resume-desc">
          <li><a href="/web/writing/">{{ collections.writing | size | renderNumber }} posts</a> since February 2007, <a href="/web/fonts/">{{ collections.font-loading | size | renderNumber }} entries on Web Fonts</a>. On my writing,
            <ul>
              <li><span class="resume-nbsp">{% imgavatar "sarah_edo", "z-avatar-first" %}Sarah</span> Drasner <a href="https://twitter.com/sarah_edo/status/1067122136412614656">said</a> she <em>“shaved full seconds off this big application […] by following some of Zach’s great materials […]”</em></li>
              <li><span class="resume-nbsp">{% imgavatar "adactio", "z-avatar-first" %}Jeremy</span> Keith <a href="https://adactio.com/links/14311">twice</a> <a href="https://adactio.com/journal/14329">said</a> <em>“Always ask yourself What Would Zach Do?”</em></li>
              <li><span class="resume-nbsp">{% imgavatar "paul_irish", "z-avatar-first" %}Paul</span> Irish <a href="https://twitter.com/paul_irish/status/295705697117691904">called me</a> <em>“damn smart”</em>—a debatable claim, to be sure.</li>
            </ul>
          </li>
          <li>{{ 2658000 | renderNumber }} lifetime page views and growing.<!-- Manual update required, updated 2020 Jan 9 --></li>
          <li><a href="/web/best-of/" class="resume-print-link">Popular Blog Posts</a></li>
        </ul>
      </li>

      <li>
        <strong class="p-skill">Conference Organizer</strong> and Co-founder of <a href="https://nejsconf.com/">{% imgavatar "nejsconf" %}NEJS CONF</a>.
        <ul class="resume-desc">
          <li class="resume-date">2015 to 2019</li>
          <li>Five conferences, 46 speakers, about 200 attendees per year.</li>
          <!-- <li><a href="https://noti.st/zachleat/UZNqr1/nejs-conf-2015-2019">Highlights</a></li> -->
        </ul>
      </li>

      <li>
        <strong class="p-skill">Lead Organizer</strong> for <a href="https://nebraskajs.com/">{% imgavatar "nebraskajs" %}NebraskaJS</a>, a JavaScript meetup.
        <ul class="resume-desc">
          <li class="resume-date">July 2012 to March 2018</li>
          <li>{{ meetup.nebraskajs | renderNumber }} members and growing, 50+ speakers, 90+ events.</li>
          <!-- <li><a href="/web/passing-the-nebraskajs-baton/#❤️-nebraskajs">Highlights</a></li> -->
        </ul>
      </li>

      <li>
        <strong>Open Source</strong>
        <ul class="resume-desc">
          <li><a href="https://www.11ty.io/">{% imgavatar "eleven_ty", "z-avatar-first" %}Eleventy</a> <span class="resume-subnote">(☆ {{ stargazers.eleventy | renderNumber }})</span> <span class="p-skill">Open Source Author</span>. A simpler static site generator. Used in production by Google (<a href="https://v8.dev">v8.dev</a>, <a href="https://web.dev">web.dev</a>, and <a href="https://developer.chrome.com/devsummit/">Chrome’s dev summit</a>), <a href="https://worldwideweb.cern.ch/colophon/">CERN</a>, <a href="https://conferences.css-tricks.com">CSS-Tricks</a>, <a href="https://everydayia.com/">A Book Apart</a>, <a href="https://www.filamentgroup.com">Filament Group</a>, <a href="https://templates.netlify.com">Netlify</a>, <a href="https://khanacademyannualreport.org">Khan Academy</a>, and more.
            <ul>
              <li>Two-time winner of the Google Open Source Peer Bonus Award for Eleventy in <a href="https://opensource.googleblog.com/2018/03/congratulating-open-source-peer-bonus-winners.html" class="dtstart">2018</a> and <a href="https://opensource.googleblog.com/2019/04/google-open-source-peer-bonus-winners.html" class="dtstart">2019</a>.</li>
              <li><span class="resume-nbsp">{% imgavatar "addyosmani", "z-avatar-first" %}Addy</span> Osmani called it <em>“absolutely wonderful.”</em></li>
              <li><span class="resume-nbsp">{% imgavatar "chriscoyier", "z-avatar-first" %}Chris</span> Coyier said it was <em>“almost fascinatingly simple.”</em></li>
              <li>Read <a href="https://www.11ty.io/docs/testimonials/" class="resume-print-link resume-print-link-ext" data-print-href="11ty.io/docs/testimonials/">more Eleventy testimonials from <span class="resume-nbsp">{% imgavatar "mathias" %}Mathias</span> Bynens, <span class="resume-nbsp">{% imgavatar "aerotwist" %}Paul</span> Lewis, <span class="resume-nbsp">{% imgavatar "MinaMarkham" %}Mina</span> Markham, <span class="resume-nbsp">{% imgavatar "TatianaTMac" %}Tatiana</span> Mac, and others</a>.</li>
            </ul>
          </li>
          <li>Other projects include <a href="https://github.com/filamentgroup/tablesaw/">Tablesaw</a> <span class="resume-subnote">(☆ {{ stargazers.tablesaw | renderNumber }})</span>, <a href="https://github.com/zachleat/web-font-loading-recipes">web-font-loading-recipes</a> <span class="resume-subnote">(☆ {{ stargazers.webfontrecipes  | renderNumber}})</span>, <a href="https://github.com/filamentgroup/glyphhanger">GlyphHanger</a> <span class="resume-subnote">(☆ {{ stargazers.glyphhanger | renderNumber }})</span>, <a href="http://www.zachleat.com/web/bigtext-makes-text-big/">BigText</a> <span class="resume-subnote">(☆ {{ stargazers.bigtext | renderNumber }})</span>, and others.</li>
          <li>Contributions to <a href="https://github.com/twbs/bootstrap/pull/16171">Bootstrap</a>, <a href="https://github.com/Modernizr/Modernizr/pull/1107">Modernizr</a>, <a href="https://github.com/scottjehl/Respond/graphs/contributors">Respond.js</a>, <a href="https://github.com/filamentgroup/loadCSS/graphs/contributors">loadCSS</a>, <a href="https://github.com/Fyrd/caniuse/pull/4645">caniuse</a>, <a href="https://github.com/jquery/jquery-mobile/commits?author=zachleat">jQuery Mobile</a>, <a href="https://github.com/johndyer/mediaelement/commits?author=zachleat">MediaElement.js</a>, <a href="https://github.com/h5bp/html5please/commits?author=zachleat">html5please</a>, <a href="https://github.com/a11yproject/a11yproject.com/commits?author=zachleat">a11yproject</a>, and <a href="https://github.com/stubbornella/csslint/commits?author=zachleat">CSS Lint</a>, and others.</li>
        </ul>
      </li>
      <li>
        <strong>Community</strong>
        <ul class="resume-desc">
          <li>Implemented Font Loading strategies for <a href="/web/css-tricks-web-fonts/">{% imgavatar "css" %}CSS Tricks</a> and <a href="/web/the-compromise/">{% imgavatar "smashingmag" %}Smashing Magazine</a>.</li>
          <li>Managing {{ twitterAccounts | size | numberString }} Web Development Twitter accounts:
            <ul>
              {%- for account in twitterAccounts %}
              {%- assign followersObj = twitter[account] %}
              <li><a href="https://twitter.com/{{ account }}" class="resume-nbsp">{% imgavatar account, "z-avatar-first" %}{{ account }}</a>{% comment %} <span class="resume-subnote">({{ followersObj | renderNumber }} followers)</span>{% endcomment %}</li>
              {%- endfor %}
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </section>

  <section>
    <h2 id="professional">Professional Experience</h2>

    <ul class="resume-list">
      <li>
        <strong>Web Developer</strong> for <a href="https://www.netlify.com/">{% imgavatar "netlify" %}Netlify</a>
        <address class="resume-location h-adr">
          Remote to
          <span class="p-locality">San Francisco</span>,
          <abbr class="p-region" title="California">CA</abbr>
        </address>
        <ul class="resume-desc">
          <li class="resume-date">January 2020 to Present</li>
        </ul>
      </li>

      <li>
        <strong>Web Developer</strong> for <a href="https://filamentgroup.com/">{% imgavatar "filamentgroup" %}Filament Group</a>
        <address class="resume-location h-adr">
          Remote to
          <span class="p-locality">Boston</span>,
          <abbr class="p-region" title="Massachusetts">MA</abbr>
        </address>
        <ul class="resume-desc">
          <li class="resume-date">June 2012 to January 2020</li>
          <li>Web development and consulting focused on a web for everyone: Performance, Responsive Design, Accessibility, and more. Personal specialties included web fonts, accessible forms, and responsive tables.</li>
          <li>Voted Agency of the Year, <a href="https://thenetawards.com/">.net Awards 2015</a></li>
          <li>Worked with clients like <a href="https://www.lego.com/">LEGO</a>, <a href="https://www.akamai.com">Akamai</a>, <a href="https://globalnews.ca">Global News</a>, <a href="https://www.rent.com/">rent.com</a>, <a href="https://www.salary.com/">salary.com</a>, <a href="https://www.ebay.com">ebay</a>, <a href="https://www.cnn.com">CNN</a>, <a href="https://forrester.com/">Forrester Research</a>, <a href="https://www.attivio.com">attivio</a>, Objective Logistics, <a href="https://www.retailmenot.com">RetailMeNot</a>, <a href="https://www.libertymutual.com">Liberty Mutual</a>, and more.</li>
          <li>Converted type character designs into a multi-layer multi-typeface web font implementation for previewing monograms on retail clothing.</li>
          <li>Standardized the new project boilerplate and the release process for project maintenance.</li>
          <li>Wrote a lightweight no-dependency IE8-compatible polyfill for custom events.</li>
          <li>Developed a responsive reusable component library for email.</li>
        </ul>
      </li>

      <li class="z-avatars-fff">
        <strong>Front End Architect</strong> for <span class="resume-nbsp">{% imgavatar "UnionPacific" %}Union</span> Pacific Railroad
        <address class="resume-location h-adr">
          <span class="p-locality">Omaha</span>,
          <abbr class="p-region" title="Nebraska">NE</abbr>
        </address>
        <ul class="resume-desc">
          <li class="resume-date">June 2011 to May 2012</li>
          <li>While maintaining a technical leadership role for the component library, also responsible for setting the company's direction for mobile application development.</li>
          <li>Developed a input-device independent reusable component library to serve both mobile web and hybrid native applications.</li>
          <li>Ownership of all company authentication pages, internal/external and mobile/desktop. Used progressive enhancement to expand device support.</li>
          <li>Evangelize front end development best practices including cross-browser compatible code, progressive enhancement, automated testing, and Responsive Web Design.</li>
          <li>Started an internal HTML5 and Open Web User Group to educate developers on new web platform features.</li>
        </ul>
      </li>

      <li class="z-avatars-fff">
        <strong>Project Lead</strong> for <span class="resume-nbsp">{% imgavatar "UnionPacific" %}Union</span> Pacific Railroad
        <address class="resume-location h-adr">
          <span class="p-locality">Omaha</span>,
          <abbr class="p-region" title="Nebraska">NE</abbr>
        </address>
        <ul class="resume-desc">
          <li class="resume-date">July 2008 to May 2011</li>
          <li>Lead developer and support team for company-standard User Interface library used on all new web projects.</li>
          <li>62 separate reusable components across 5 simultaneous major code branches and over 50 versions.</li>
          <li>Sole individual provider of support to a large developer base (~1500 employees and contractors in IT) which yielded an average of over 400 support tickets per year. <em>Reduced total yearly defect support tickets by 43%.</em></li>
          <li>Migrated existing code base to comply with new <abbr title="internationalization">i18n</abbr> requirements without incurring a runtime performance cost.</li>
          <li>Adapted to marketing department's company wide brand refresh, centrally and easily applied to all applications.</li>
          <li>Improved performance by reducing component initialization times between major versions by 5.2× in IE7 with the addition of prerendered markup in a Java framework.</li>
          <li>Prevented an Adobe Flexpocalypse by opposing adoption of Adobe Flex as the primary UI development tool using the merits of the Open Web.</li>
        </ul>
      </li>

      <li class="z-avatars-fff">
        <strong>Front End Engineer</strong> for <span class="resume-nbsp">{% imgavatar "UnionPacific" %}Union</span> Pacific Railroad
        <address class="resume-location h-adr">
          <span class="p-locality">Omaha</span>,
          <abbr class="p-region" title="Nebraska">NE</abbr>
        </address>
        <ul class="resume-desc">
          <li class="resume-date">June 2006 to July 2008</li>
          <li>User Interface development for three internal projects, one of which received approximately 15 million hits per month.</li>
          <li>Developed build process for automated deployment including CSS and JS minimization, with linting (JSLint), integration testing (Selenium) and unit testing (JSUnit).</li>
        </ul>
      </li>
    </ul>
  </section>

  <section>
    <h2 id="education">Educational Experience</h2>

    <ul class="resume-list">
      <li>
        <strong>Computer Engineering</strong> at <a href="http://www.unl.edu/"><span class="resume-nbsp">{% imgavatar "UNLincoln" %}University</span> of Nebraska</a>
        <address class="resume-location h-adr">
          <span class="p-locality">Lincoln</span>,
          <abbr class="p-region" title="Nebraska">NE</abbr>
        </address>
        <ul class="resume-desc">
          <li class="resume-date">August 2001 to May 2006</li>
          <li><abbr title="Bachelor of Science">BS</abbr> in Computer Engineering, Minor in Mathematics</li>
          <!-- <li>College of Engineering Deans List <abbr class="dtstart" title="2005-05">Spring 2005</abbr></li> -->
          <li>Course Work in Semantic Web, Computer Architecture, Data Structures and Algorithms, Database Systems, Artificial Intelligence, Cryptography and Security, GUI and Unix Programming, Operating Systems and Kernels</li>
        </ul>
      </li>

      <li>
        Engineering Study Abroad Program
        <address class="resume-location h-adr">
          <span class="p-locality">Fortaleza</span>,
          <abbr class="p-region" title="Ceará">CE</abbr>,
          <span class="p-country-name">Brazil</span>
        </address>
        <ul class="resume-desc">
          <li class="resume-date">May 2005</li>
          <li>Studies in Brazilian Culture and the Portuguese Language</li>
        </ul>
      </li>
    </ul>
  </section>

  <section>
    <p class="resume-invitation">
      <span class="resume-print-only"><a href="/resume/" class="resume-print-link">This resume is best viewed online</a>.</span> You're invited to view the source code and it will print nicely (but do you really need to?). Using the <code>h-resume</code> microformat. Generated with updated data on {{ now | readableDate }}.
    </p>
  </section>
</div>
