<article class="webmention h-cite" id="webmention-{{ webmention['wm-id'] }}">
  <div class="webmention__meta">
    {% if webmention.url != "" %}
    <a class="h-card u-url link-u-exempt" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">
    {% endif %}
    {% if webmention.author and webmention.author.name != "" %}
      <span class="webmention__author p-author">
        {% if webmention.author.photo != "" %}
          <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="{{ webmention.author.name }}" loading="lazy">
        {% else %}
          <img class="webmention__author__photo" src="{{ '/img/webmention-avatar-default.svg' | url }}" alt="" loading="lazy">
        {% endif %}
        <strong class="p-name">{{ webmention.author.name }}</strong>
      </span>
    {% else %}
      <span class="webmention__author">
        <img class="webmention__author__photo" src="{{ '/img/webmention-avatar-default.svg' | url }}" alt="" loading="lazy">
        <strong>Anonymous</strong>
      </span>
    {% endif %}
    {% if webmention.url != "" %}
    </a>
    {% endif %}

    {% if webmention.published %}
      <time class="webmention__pubdate dt-published" datetime="{{ webmention.published }}">{{ webmention.published | dateFromTimestamp | readableDate }}</time>
    {% endif %}
  </div>
  <div class="webmention__content p-content">
    {{ webmention.content.value }}
  </div>
</article>