---
layout: default
---
<div class="maxwidth">
	<article>
	<h1 {% if tags contains 'smalltitle' %}class="smalltitle"{% endif %}>{{ title }}</h1>
	<div class="sub">
		<em class="date">{{ page.date | readableDate }}</em>
{% if tags contains 'video' %}
		<em class="words">Watch in {{ medialength }}</em>
{% else %}
		<em class="words">Read in {{ content | reading_time }}</em>
{% endif %}
{% if postRank %}
		<em class="words"><a href="/web/best-of/">#{{ postRank }} most popular</a></em>
{% endif %}
	</div>
	{% if tags contains 'deprecated' %}
	<article>
		<div class="deprecation-warning">
			<h3>Warning</h3>
			<p>This article is old and may contain information that is outdated, irrelevant, or—dare I say it—no longer accurate. Read with care!</p>
		</div>
	</article>
	{% endif %}
	{% if external_url %}
	<article>
		<p><em>{% if tags contains 'upcoming' %}This is an upcoming event on {{ date | date: "%B %-d, %Y" }}, learn more at{% else %}Originally posted at{% endif %}: <a href="{{ external_url }}">{{ external_url }}</a></em></p>
	</article>
	{% endif %}
	{{ content }}
	</article>
</div>
<div class="maxwidth">
	<article>
		{% include about.html %}
	</article>

	<div id="disqus_thread" class="disqus-container">
		<a href="#" class="disqus-loader" id="disqus-loader">☠️ Read the Comments ☠️</a>
	</div>
</div><!-- /.maxwidth -->