---
layout: default
---
<div class="maxwidth">
	<article>
	<h1 {% if tags contains 'smalltitle' %}class="smalltitle"{% endif %}>{{ title }}</h1>
	<div class="sub">
		<em class="date">{{ page.date | readableDate }}</em>
{% if tags contains 'video' %}
		<em class="words">Watch in {{ medialength }}</em>
{% else %}
		<em class="words">Read in {{ content | reading_time }}</em>
{% endif %}
{% if postRank %}
		<em class="words"><a href="/web/best-of/">#{{ postRank }} most popular</a></em>
{% endif %}
	</div>
	{% if tags contains 'deprecated' %}
	<article>
		<div class="deprecation-warning">
			<h3>Warning</h3>
			<p>This article is old and may contain information that is outdated, irrelevant, or—dare I say it—no longer accurate. Read with care!</p>
		</div>
	</article>
	{% endif %}
	{% if external_url %}
	<article>
		<p><em>{% if tags contains 'upcoming' %}This is an upcoming event on {{ date | date: "%B %-d, %Y" }}, learn more at{% else %}Originally posted at{% endif %}: <a href="{{ external_url }}">{{ external_url }}</a></em></p>
	</article>
	{% endif %}
	{{ content }}
	</article>
</div>
<div class="maxwidth">
	<article>
		<div class="twitter-follow">
			<a href="https://twitter.com/zachleat" class="twitter-follow-button" data-show-count="true" data-lang="en" data-size="large" data-dnt="true">Follow @zachleat</a>
		</div>
		<div class="action">
			<p>Say hello on <a href="//twitter.com/zachleat/" class="twitter link-u-exempt"><i class="icon-twitter"></i> Twitter</a> and <a href="//github.com/zachleat/" class="github link-u-exempt"><i class="icon-github"></i> GitHub</a>.</p>
			<p>Let my <a href="/web/feed/" class="feed link-u-exempt"><i class="icon-feed"></i> Feed</a> sit idle in your RSS Reader.</p>
		</div>
		{% include about.html %}
	</article>

	<div id="disqus_thread"></div>
	<noscript><strong>Note</strong>: To view and add comments, you’ll need to enable JavaScript. (<a href="http://disqus.com/?ref_noscript">powered by Disqus</a>)</noscript>
	{% include footer.html %}
</div><!-- /.maxwidth -->