{%- capture fullUrl %}https://www.zachleat.com{{ page.url }}{% endcapture -%}
<!doctype html>
<html lang="en"{% if tmpl or templateclass %} class="{% if tmpl %} tmpl-{{ tmpl }}{% endif %}{% if templateclass %} {{ templateclass }}{% endif %}"{% endif %}>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{% if title %}{% if titleOverride %}{{ titleOverride }}{% else %}{{ title }}{% endif %}—zachleat.com{% else %}zachleat.com{% endif %}</title>

		<link rel="preload" href="/static/fonts/lato/2.0/latolatin-regular-subset.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/static/fonts/hex-franklin/HEX_Franklin_v0.2_Tyght_Variable-subset.woff2" as="font" type="font/woff2" crossorigin>

		<meta name="author" content="Zach Leatherman">
		<meta name="description" content="{% if description %}{{ description }}, {% endif %}{% if title %}A post by {% endif %}Zach Leatherman (zachleat)">
		<meta name="generator" content="{{ eleventy.generator }}">

{%- if noindex %}
		{% comment %}For OpenGraph image pages{% endcomment %}
		<meta name="robots" content="noindex">
{%- endif %}

		<!-- Icons -->
		<link rel="apple-touch-icon-precomposed" href="/img/rel-icon-192.png">
		<link rel="icon" href="/img/rel-icon-192.jpg" sizes="192x192" type="image/jpeg">

		<!-- Social -->
		<meta property="fediverse:creator" content="@zachleat@zachleat.com" />

		<meta property="og:title" content="{% if title %}{{ title }}—zachleat.com{% else %}zachleat.com{% endif %}">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="Zach Leatherman">
		<meta property="og:description" content="{% if description %}{{ description }}, {% endif %}{% if title %}A post by {% endif %}Zach Leatherman (zachleat)">
		<meta property="og:image" content="{% ogImageSource page %}">
		<meta property="og:url" content="https://www.zachleat.com{{ page.url }}">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@zachleat">
		<meta name="twitter:image" content="{% ogImageSource page %}">

		<!-- SEO/Feeds -->
		<link rel="canonical" href="{{ fullUrl }}">
{% if rssFeedUrl and rssFeedTitle %}
		<link rel="alternate" href="{{ rssFeedUrl }}" title="{{ rssFeedTitle }}" type="application/atom+xml">
{% else %}
		<link rel="alternate" href="/web/feed/" title="Zach Leatherman’s Posts Feed" type="application/atom+xml">
		<link rel="alternate" href="/follow/" title="Zach Leatherman’s Activity Feed" type="application/rss+xml">
{% endif %}
		<link rel="feed" href="https://www.zachleat.com/web/">

{% comment %}Critical CSS in production, blocking stylesheet for local dev for better livereload{% endcomment %}
{% if eleventy.env.runMode == "serve" %}
		<link rel="stylesheet" href="/static/initial.css">
{% else %}
		<style>{% renderFile "./static/initial.scss" %}</style>
{% endif %}
		<style>{% getBundle 'css' %}</style><!-- WebC -->

		<!-- Preconnect to Eleventy services -->
		<link href="https://v1.opengraph.11ty.dev" rel="preconnect" crossorigin>
		<link href="https://v1.indieweb-avatar.11ty.dev" rel="preconnect" crossorigin>

{%- if JS_ENABLED %}
		<link rel="stylesheet" href="/static/defer.css" media="print" onload="this.media='all'">
		<noscript>
			<link href="/static/defer.css" rel="stylesheet">
		</noscript>
{%- else %}
		<link href="/static/defer.css" rel="stylesheet">
{%- endif %}
{%- for url in stylesheets -%}
		<link href="{{ url }}" rel="stylesheet">
{%- endfor %}
{%- for stylesheet in stylesheetsDist -%}
		<link href="/static/{{ stylesheet }}" rel="stylesheet">
{%- endfor %}

{%- if JS_ENABLED %}
		<script>{% include "./static/initial.js" %}</script>
		<script type="module">{% getBundle 'js' %}</script><!-- WebC -->
		<script src="/static/defer.js" type="module"></script>
{%- endif %}

		<meta property="eleventy:path" content="{{ page.inputPath }}">

		<!-- IndieAuth -->
		<link href="mailto:zach@zachleat.com" rel="me">
		<link href="https://twitter.com/zachleat" rel="me">
		<link href="https://github.com/zachleat" rel="me">
		<link href="https://zachleat.com/@zachleat" rel="me">
		<link href="https://fediverse.zachleat.com/@zachleat" rel="me">
{% if enableWebmentions %}
		<link rel="webmention" href="https://webmention.io/www.zachleat.com/webmention">
		<link rel="pingback" href="https://webmention.io/www.zachleat.com/xmlrpc">
{% endif %}
	</head>
	<body class="{%- if classes and classes.body %} {{ classes.body }}{% endif -%}"
		{% unless excludeFromSearch %} data-pagefind-body{% endunless %}>
		{{ content }}
{%- if JS_ENABLED %}
{%- for url in scripts -%}
		<script src="{{ url }}" defer></script>
{%- endfor %}
{%- endif %}
	</body>
</html>