---
layout: layouts/base.liquid
classes:
  body: body-grid body-gradient
modules:
 - "/static/heading-anchors.js"
---
<a href="#skiplink-content" id="skiplink-top" class="skiplink skiplink-fn" data-pagefind-ignore>Skip to Content</a>
<div class="rail" data-pagefind-ignore>
	<div class="rail-sticky">
		<header>
			<a href="/" class="header">
				<img src="/img/avatar-2025-green-cover.png" alt="Zach’s ugly mug (his face)" class="my-avatar" loading="eager" fetchpriority="high">
				<span class="hed-h1">Zach Leatherman</span>
			</a>
		</header>
		<aside>
			<nav role="navigation">
				<div class="navigation">
					<div class="tags tags-rail">
						<a href="/" class="tag{% if page.url == '/' %} active{% endif %}">Home</a>
						<a href="/about/" class="tag{% if page.url == '/about/' %} active{% endif %}">About</a>
						<a href="/web/" class="tag{% if page.url == '/web/' %} active{% endif %}">Archives</a>
						<a href="/search/" class="tag{% if page.url == '/search/' %} active{% endif %} hide-md">Search</a>
						<a href="/web/speaking/" class="tag{% if page.url == '/web/speaking/' %} active{% endif %} hide-md">Talks</a>
						<a href="/web/eleventy/" class="tag{% if page.url == '/web/eleventy/' %} active{% endif %} hide-md">Eleventy</a>
						{% comment %} <a href="/web/?category=project" class="tag">Projects</a> {% endcomment %}
						{% comment %} <a href="/web/best-of/" class="tag tag-popular{% if page.url == '/web/best-of/' or page.url == '/web/best-of/total-views/' %} active{% endif %}{% if hasToc == true or hidePostsInSidebar == true %} has-toc{% endif %}">Popular{% icon "fas:fire" %}</a> {% endcomment %}
						{% comment %} <a href="/web/research/" class="tag{% if page.url == '/web/research/' %} active{% endif %}">Research</a> {% endcomment %}
						{% comment %} <a href="/web/citations/" class="tag{% if page.url == '/web/citations/' %} active{% endif %}">Citations</a> {% endcomment %}
						{% comment %} <a href="/web/highlights/" class="tag highlight{% if page.url == '/web/highlights/' %} active{% endif %}" title="Highlight"><span class="highlight-label">Highlights </span><span class="highlight-star" aria-hidden="true">★</span></a> {% endcomment %}
					</div>
					{% include "social.html" %}

					<a href="/web/" class="spark hide-singlecol">
						<span>2007</span>
						<img src="https://v1.sparkline.11ty.dev/120x30/{{ collections.posts | getYearlyPostCount }}/{{ '#94b388' | encodeUriComponent }}/" width="120" height="30" alt="Sparkline representing frequency of posts written from 2007 to {{ currentYear }}" loading="lazy" decoding="async" class="spark-img">
						<span>{{ currentYear }}</span>
					</a>

					<div class="tags tags-rail tags-rail-top5 hide-singlecol">
						{%- if collections.pinnedPosts | size %}
						<div>
							<div class="top5">📌 Pinned</div>
							{%- for post in collections.pinnedPosts limit:1 %}
								<a href="{{ post.url }}" class="tag tag-popular-rail tag-pinned-rail tag-borderless">{{ post.data.title }}</a>
							{%- endfor %}
						</div>
						{%- endif %}

					{%- if hasToc != true and hidePostsInSidebar != true %}
						<div>
							<div class="top5"><a href="/web/best-of/">Popular{% icon "fas:fire" %}</a></div>

							{% for post in collections.popularPostsRanked limit:3 %}
							<a href="{{ post.url }}" class="tag tag-popular-rail tag-borderless">{{ post.data.title }} <em>{{ post.date | timePosted }}</em></a>
							{% endfor %}
						</div>

						{%- if collections.upcomingTalks | size %}
						<div>
							<div class="top5"><a href="/web/speaking/">Upcoming Talks</a></div>

							{%- for post in collections.upcomingTalks %}
							<a href="{{ post.data.external_url | default: post.url }}" class="tag tag-popular-rail tag-borderless" style="text-align: left">{{ post.data.title }} <em>{{ post.date | timePosted }}</em></a>
							{%- endfor %}
						</div>
						{%- endif %}
					{%- endif %}
					</div>
				</div>
			</nav>
		</aside>
	</div>
</div>
<main class="content-main" data-role="main" id="skiplink-content">
	{{ content }}
	{% include "footer.html" %}
</main><!-- /.content -->

{% getBundle "fontawesome" %}

<div class="hamburger">
	<is-land on:idle on:visible on:media="(prefers-reduced-motion: no-preference) and (min-width: 61.1875em)">
		<infinity-burger theme-fn></infinity-burger>

		<template data-island="once">
			<style>
			/* Desktop only, for extra laughs */
			@media (max-width: 61.1875em) { /* 979px */
				infinity-burger {
					display: none;
				}
			}
			</style>
{%- if JS_ENABLED %}
			<script>
			function InfinityBurgerColor(count) {
				return `hsl(${count * 5 % 360}, 100%, 50%)`
			}
			</script>
			<script type="module" src="/static/infinity-burger.js"></script>
{%- endif %}
		</template>
	</is-land>
</div>
