---
layout: layouts/base.liquid
classes:
  body: body-grid body-gradient
modules:
 - "/static/heading-anchors.js"
---
<a href="#skiplink-content" id="skiplink-top" class="skiplink skiplink-fn" data-pagefind-ignore>Skip to Content</a>
<div class="rail" data-pagefind-ignore>
	<div class="rail-sticky">
		<header>
			<a href="/" class="header">
				{% image site.avatarImgAttrs %}
				<span class="hed-h1">Zach Leatherman</span>
			</a>
		</header>
		<aside>
			<nav role="navigation">
				<div class="navigation">
					<div class="tags tags-rail">
						<a href="/" class="tag{% if page.url == '/' %} active{% endif %}">Home</a>
						<a href="/about/" class="tag{% if page.url == '/about/' %} active{% endif %}">About</a>
						<a href="/web/" class="tag{% if page.url == '/web/' %} active{% endif %}">Archives</a>
						<a href="/search/" class="tag{% if page.url == '/search/' %} active{% endif %} hide-md">Search</a>
						<a href="/web/speaking/" class="tag{% if page.url == '/web/speaking/' %} active{% endif %} hide-md">Talks</a>
						<a href="/web/eleventy/" class="tag{% if page.url == '/web/eleventy/' %} active{% endif %} hide-md">Eleventy</a>
						{% comment %} <a href="/web/?category=project" class="tag">Projects</a> {% endcomment %}
						{% comment %} <a href="/web/best-of/" class="tag tag-popular{% if page.url == '/web/best-of/' or page.url == '/web/best-of/total-views/' %} active{% endif %}{% if hasToc == true or hidePostsInSidebar == true %} has-toc{% endif %}">Popular 🔥</a> {% endcomment %}
						{% comment %} <a href="/web/research/" class="tag{% if page.url == '/web/research/' %} active{% endif %}">Research</a> {% endcomment %}
						{% comment %} <a href="/web/citations/" class="tag{% if page.url == '/web/citations/' %} active{% endif %}">Citations</a> {% endcomment %}
						{% comment %} <a href="/web/highlights/" class="tag highlight{% if page.url == '/web/highlights/' %} active{% endif %}" title="Highlight"><span class="highlight-label">Highlights </span><span class="highlight-star" aria-hidden="true">★</span></a> {% endcomment %}
					</div>
					{% include "social.html" %}

					<a href="/web/" class="spark hide-singlecol">
						<span>2007</span>
						<img src="https://v1.sparkline.11ty.dev/120x30/{{ collections.posts | getYearlyPostCount }}/{{ '#94b388' | encodeUriComponent }}/" width="120" height="30" alt="Sparkline representing frequency of posts written from 2007 to {{ currentYear }}" loading="lazy" decoding="async" class="spark-img">
						<span>{{ currentYear }}</span>
					</a>

					<div class="tags tags-rail tags-rail-top5 hide-singlecol">
						{%- if collections.pinnedPosts | size %}
						<div>
							<div class="top5">📌 Pinned</div>
							{%- for post in collections.pinnedPosts limit:1 %}
								<a href="{{ post.url }}" class="tag tag-popular-rail tag-pinned-rail tag-borderless">{{ post.data.title }}</a>
							{%- endfor %}
						</div>
						{%- endif %}

					{%- if hasToc != true and hidePostsInSidebar != true %}
						<div>
							<div class="top5"><a href="/web/best-of/">Popular 🔥</a></div>

							{% for post in collections.popularPostsRanked limit:3 %}
							<a href="{{ post.url }}" class="tag tag-popular-rail tag-borderless">{{ post.data.title }} <em>{{ post.date | timePosted }}</em></a>
							{% endfor %}
						</div>

						{%- if collections.upcomingTalks | size %}
						<div>
							<div class="top5"><a href="/web/speaking/">Upcoming Talks</a></div>

							{%- for post in collections.upcomingTalks %}
							<a href="{{ post.data.external_url | default: post.url }}" class="tag tag-popular-rail tag-borderless" style="text-align: left">{{ post.data.title }} <em>{{ post.date | timePosted }}</em></a>
							{%- endfor %}
						</div>
						{%- endif %}
					{%- endif %}
					</div>
				</div>
			</nav>
		</aside>
	</div>
</div>
<main class="content-main" data-role="main" id="skiplink-content">
	{{ content }}
	{% include "footer.html" %}
</main><!-- /.content -->

<svg display="none" aria-hidden="true">
	<defs>
		<g id="icon-feed"><path fill="#ff9132" d="M 4.259,23.467c-2.35,0-4.259,1.917-4.259,4.252c0,2.349, 1.909,4.244, 4.259,4.244 c 2.358,0, 4.265-1.895, 4.265-4.244C 8.525,25.383, 6.618,23.467, 4.259,23.467zM 0.005,10.873l0,6.133 c 3.993,0, 7.749,1.562, 10.577,4.391c 2.825,2.822, 4.384,6.595, 4.384,10.603l 6.16,0 C 21.125,20.349, 11.648,10.873, 0.005,10.873zM 0.012,0l0,6.136 c 14.243,0, 25.836,11.604, 25.836,25.864L 32,32 C 32,14.36, 17.648,0, 0.012,0z"></path></g>
		<g id="icon-github"><path fill="#000000" d="M 16,0C 7.163,0,0,7.163,0,16s 7.163,16, 16,16s 16-7.163, 16-16S 24.837,0, 16,0z M 25.502,25.502 c-1.235,1.235-2.672,2.204-4.272,2.881c-0.406,0.172-0.819,0.323-1.238,0.453L 19.992,26.438 c0-1.26-0.432-2.188-1.297-2.781 c 0.542-0.052, 1.039-0.125, 1.492-0.219s 0.932-0.229, 1.438-0.406s 0.958-0.388, 1.359-0.633s 0.786-0.563, 1.156-0.953s 0.68-0.833, 0.93-1.328 s 0.448-1.089, 0.594-1.781s 0.219-1.456, 0.219-2.289c0-1.615-0.526-2.99-1.578-4.125c 0.479-1.25, 0.427-2.609-0.156-4.078l-0.391-0.047 c-0.271-0.031-0.758,0.083-1.461,0.344s-1.492,0.688-2.367,1.281c-1.24-0.344-2.526-0.516-3.859-0.516c-1.344,0-2.625,0.172-3.844,0.516 c-0.552-0.375-1.075-0.685-1.57-0.93c-0.495-0.245-0.891-0.411-1.188-0.5s-0.573-0.143-0.828-0.164s-0.419-0.026-0.492-0.016 s-0.125,0.021-0.156,0.031c-0.583,1.479-0.635,2.839-0.156,4.078c-1.052,1.135-1.578,2.51-1.578,4.125c0,0.833, 0.073,1.596, 0.219,2.289 s 0.344,1.286, 0.594,1.781s 0.56,0.938, 0.93,1.328s 0.755,0.708, 1.156,0.953s 0.854,0.456, 1.359,0.633s 0.984,0.313, 1.438,0.406 s 0.951,0.167, 1.492,0.219c-0.854,0.583-1.281,1.51-1.281,2.781l0,2.445 c-0.472-0.14-0.937-0.306-1.394-0.5 c-1.6-0.677-3.037-1.646-4.272-2.881c-1.235-1.235-2.204-2.672-2.881-4.272C 2.917,19.575, 2.563,17.815, 2.563,16 s 0.355-3.575, 1.055-5.23c 0.677-1.6, 1.646-3.037, 2.881-4.272s 2.672-2.204, 4.272-2.881 C 12.425,2.917, 14.185,2.563, 16,2.563s 3.575,0.355, 5.23,1.055c 1.6,0.677, 3.037,1.646, 4.272,2.881 c 1.235,1.235, 2.204,2.672, 2.881,4.272C 29.083,12.425, 29.438,14.185, 29.438,16s-0.355,3.575-1.055,5.23 C 27.706,22.829, 26.737,24.267, 25.502,25.502z"></path></g>
		<g id="icon-mastodon"><path fill="#2b90d9" d="M211.8 139c-3.2 16.5-28.5 34.4-57.6 37.8a278 278 0 0 1-46 2.8c-26-1.2-46.5-6.2-46.5-6.2 0 2.5.1 5 .4 7.2 3.4 25.7 25.5 27.2 46.4 28 21.2.6 40-5.3 40-5.3l.8 19s-14.7 8-41 9.5a171 171 0 0 1-53.6-6C9.2 213.9 1.4 165.4.2 116.2-.2 101.5.1 87.7.1 76c0-50.3 33-65 33-65C49.6 3.5 78.1.2 107.8 0h.7c29.7.2 58.2 3.5 74.8 11 0 0 33 14.8 33 65.2 0 0 .4 37.1-4.6 62.9"/><path fill="#fff" d="M177.5 80v61h-24.1V82c0-12.5-5.3-18.8-15.8-18.8-11.6 0-17.4 7.5-17.4 22.3v32.4h-24V85.4c0-14.8-5.8-22.3-17.4-22.3C68.3 63 63 69.4 63 81.9V141H39V80c0-12.4 3.2-22.3 9.5-29.6 6.6-7.3 15.2-11 25.9-11a31 31 0 0 1 27.9 14.2l6 10 6-10a31.1 31.1 0 0 1 28-14.3c10.6 0 19.2 3.8 25.8 11.1a43.7 43.7 0 0 1 9.5 29.7"/></g>
	</defs>
</svg>

<div class="hamburger">
	<is-land on:idle on:visible on:media="(prefers-reduced-motion: no-preference) and (min-width: 61.1875em)">
		<infinity-burger theme-fn></infinity-burger>

		<template data-island="once">
			<style>
			/* Desktop only, for extra laughs */
			@media (max-width: 61.1875em) { /* 979px */
				infinity-burger {
					display: none;
				}
			}
			</style>
{%- if JS_ENABLED %}
			<script>
			function InfinityBurgerColor(count) {
				return `hsl(${count * 5 % 360}, 100%, 50%)`
			}
			</script>
			<script type="module" src="/static/infinity-burger.js"></script>
{%- endif %}
		</template>
	</is-land>
</div>
