{%- capture distIncludeFolder %}dist/{% if distVersion %}{{ distVersion }}{% else %}{{ pkg.version }}{% endif %}/{% endcapture -%}
{%- capture distFolder %}/web/{{ distIncludeFolder }}{% endcapture -%}
<!doctype html>
<html lang="en"{% if tmpl or templateclass %} class="{% if tmpl %} tmpl-{{ tmpl }}{% endif %}{% if templateclass %} {{ templateclass }}{% endif %}"{% endif %}>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{% if title %}{% if titleOverride %}{{ titleOverride }}{% else %}{% if renderData.title %}{{ renderData.title }}{% else %}{{ title }}{% endif %}{% endif %}—zachleat.com{% else %}zachleat.com{% endif %}</title>

		<link rel="preload" href="/web/css/fonts/lato/2.0/LatoLatin-Regular.supersubset.woff2" as="font" type="font/woff2" crossorigin>

		<meta property="og:title" content="{% if title %}{{ title }}—zachleat.com{% else %}zachleat.com{% endif %}">
		<meta name="author" content="Zach Leatherman">
		<meta property="og:site_name" content="Zach Leatherman">
		<meta name="description" content="{% if description %}{{ description }}, {% endif %}{% if title %}A post by {% endif %}Zach Leatherman (zachleat)">
		<meta property="og:description" content="{% if description %}{{ description }}, {% endif %}{% if title %}A post by {% endif %}Zach Leatherman (zachleat)">
		<meta property="og:image" content="{% if headimage %}{{ headimage }}{% else %}{{ site.avatarImgSrc }}{% endif %}">
		<meta name="monetization" content="$pay.stronghold.co/1a155e3a09e210742be8c38ba7cab4795c4">

		<meta name="dist" content="{{distFolder}}">
		<link rel="canonical" href="https://www.zachleat.com{{ page.url }}">
{% if rssFeedUrl and rssFeedTitle %}
		<link rel="alternate" href="{{ rssFeedUrl }}" title="{{ rssFeedTitle }}" type="application/atom+xml">
{% else %}
		<link rel="alternate" href="/web/feed/" title="Zach Leatherman’s Posts Feed" type="application/atom+xml">
{% endif %}

		<style>{% include initial.min.css %}</style>
		<noscript>
			<link href="{{ distFolder }}defer.min.css" rel="stylesheet">
		</noscript>
{% if stylesheet %}
		<link href="{{ distFolder }}{{ stylesheet }}" rel="stylesheet">
{% endif %}
{% if stylesheetFull %}
		<link href="{{ stylesheetFull }}" rel="stylesheet">
{% endif %}
		<script>{% include initial.min.js %}</script>
		<script src="{{ distFolder }}async.min.js" async></script>
		<meta property="eleventy:path" content="{{ page.inputPath }}">

		<!-- IndieAuth -->
		<link href="mailto:zach@zachleat.com" rel="me">
		<link href="https://twitter.com/zachleat" rel="me">
		<link href="https://github.com/zachleat" rel="me">
{% if enableWebmentions %}
		<link rel="webmention" href="https://webmention.io/www.zachleat.com/webmention" />
		<link rel="pingback" href="https://webmention.io/www.zachleat.com/xmlrpc" />
{% endif %}
	</head>
	<body>
		<a href="#skiplink-content" id="skiplink-top" class="skiplink skiplink-fn">Skip to Content</a>
		<div class="rail">
			<header>
				<a href="/" class="header">
					<img src="/img/avatar-2017-88.png" alt="Zach’s ugly mug (his face)">
					<h1>Zach Leatherman</h1>
				</a>
			</header>
			<aside class="rail-sticky">
				<nav role="navigation">
					<div class="navigation">
						<div class="tags tags-rail">
							<span class="tags-bigger">
								<a href="/" class="tag tag-borderless{% if page.url == '/' %} active{% endif %}">Home</a>
								<a href="/web/about/" class="tag tag-borderless{% if page.url == '/web/about/' %} active{% endif %}">About</a>
								<a href="/web/" class="tag tag-borderless{% if page.url == '/web/' or page.url == '/web/writing/' %} active{% endif %}">Archives</a>
							</span>
							<a href="/web/fonts/" class="tag font-loading{% if page.url == '/web/fonts/' %} active{% endif %}">Web Fonts</a>
							<a href="/web/eleventy/" class="tag{% if page.url == '/web/eleventy/' %} active{% endif %}">Eleventy</a>
						</div>
						<div class="social">
							<a href="https://twitter.com/zachleat" class="social_icon icon-twitter" title="@zachleat on Twitter">Twitter</a>
							<a href="https://www.npmjs.com/~zachleat" class="social_icon icon-npm" title="@zachleat on npm">npm</a>
							<a href="https://github.com/zachleat/" class="social_icon icon-github" title="@zachleat on GitHub">GitHub</a>
							<a href="http://www.filamentgroup.com/" class="social_icon icon-filamentgroup">Filament Group</a>
							<a href="http://nebraskajs.com/" class="social_icon icon-nebraskajs">NebraskaJS</a>
							<a href="/web/feed/" class="social_icon icon-feed" title="Zach Leatherman’s RSS Feed">RSS</a>
						</div><!-- /.social -->
						<div class="tags tags-rail">
							<a href="/web/speaking/" class="tag{% if page.url == '/web/speaking/' %} active{% endif %}">Speaking</a>
							<a href="/twitter/" class="tag">Twitter Archive</a>
							<a href="/web/projects/" class="tag{% if page.url == '/web/projects/' %} active{% endif %}">Projects</a>
							<a href="/web/notes/" class="tag{% if page.url == '/web/notes/' %} active{% endif %}">Notes</a>
							<a href="/web/best-of/" class="tag tag-popular{% if page.url == '/web/best-of/' or page.url == '/web/best-of/total-views/' %} active{% endif %}{% if hasToc == true or hidePopularInSidebar == true %} has-toc{% endif %}">Popular 🔥</a>
							<!-- <a href="/web/research/" class="tag{% if page.url == '/web/research/' %} active{% endif %}">Research</a> -->
							<!-- <a href="/web/citations/" class="tag{% if page.url == '/web/citations/' %} active{% endif %}">Citations</a> -->
							<!-- <a href="/web/highlights/" class="tag highlight{% if page.url == '/web/highlights/' %} active{% endif %}" title="Highlight"><span class="highlight-label">Highlights </span><span class="highlight-star" aria-hidden="true">★</span></a> -->
						</div>
{% if hasToc != true and hidePopularInSidebar != true %}
						<div class="tags tags-rail tags-rail-top5">
{% if collections.latestPosts[0] %}
							<h2 class="top5">Latest</h2>
							<a href="{{ collections.latestPosts[0].url | url }}" class="tag tag-popular-rail tag-borderless" style="text-align: left">{{ collections.latestPosts[0].data.title }}</a>
{% endif %}
							<h2 class="top5"><a href="/web/best-of/">Popular 🔥 ➡</a></h2>

							{% for post in collections.popularPostsRanked %}
							{% if forloop.index <= 3 %}
							<a href="{{ post.url | url }}" class="tag tag-popular-rail tag-borderless" style="text-align: left">{{ post.data.title }} <em>{{ post.date | timePosted }}</em></a>
							{% endif %}
							{% endfor %}
						</div>
{% endif %}
					</div>
				</nav>
			</aside>
		</div><!-- /.rail -->
		<div class="content-main" data-role="main" id="skiplink-content">
			{{ content }}
			{% include footer.html %}
		</div><!-- /.content -->
		<div class="hamburger">
			<div class="infinity-burger" id="infinity-burger" aria-hidden="true">
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</body>
</html>