---
layout: layouts/base.liquid
classes:
  html: page-gradient
  body: body-grid
modules:
 - "/static/heading-anchors.js"
---
<a href="#skiplink-content" id="skiplink-top" class="skiplink skiplink-fn" data-pagefind-ignore>Skip to Content</a>
<div class="rail" data-pagefind-ignore>
	<div class="rail-sticky">
		<header>
			<a href="/" class="header">
				<img src="/img/avatar-2025-green-cover.png" alt="Zach’s ugly mug (his face)" class="my-avatar" loading="eager" fetchpriority="high">
				<span class="hed-h1">Zach Leat&shy;herman</span>
			</a>
		</header>
		<aside>
			<nav role="navigation">
				<div class="navigation">
					{% include "social.html" %}

					<ul class="list-flush tags-rail-links">
						<li><a href="/" {% if page.url == '/' %}class="active"{% endif %}>{% icon "fa:house" %}Home</a></li>
						<li><a href="/web/" {% if page.url == '/web/' %}class="active"{% endif %}>{% icon "fa:book" %}Archives</a></li>
						<li><a href="/about/" {% if page.url == '/about/' %}class="active"{% endif %}>{% icon "fa:user" %}About</a></li>
						<li><a href="/search/" {% if page.url == '/search/' %}class="active"{% endif %}>{% icon "fa:search" %}Search</a></li>
						<li><a href="/web/eleventy/" {% if page.url == '/web/eleventy/' %}class="active"{% endif %}>{% icon "fab:eleventy" %}Eleventy</a></li>
						<li class="hide-singlecol"><a href="/web/speaking/" {% if page.url == '/web/speaking/' %}class="active"{% endif %}>{% icon "fa:microphone-lines" %}Speaking</a></li>
						<li class="hide-singlecol"><a href="/uses/" {% if page.url == '/uses/' %}class="active"{% endif %}>{% icon "fa:gear" %}Uses</a></li>
						<li class="hide-singlecol"><a href="/domains/" {% if page.url == '/domains/' %}class="active"{% endif %}>{% icon "fa:signature" %}Domains</a></li>
						{% comment %} <li><a href="/web/research/" class="tag{% if page.url == '/web/research/' %} active{% endif %}">Research</a></li> {% endcomment %}
						{% comment %} <li><a href="/web/citations/" class="tag{% if page.url == '/web/citations/' %} active{% endif %}">Citations</a></li> {% endcomment %}
					</ul>

					<a href="/web/" class="spark hide-singlecol">
						<span>2007</span>
						<img src="https://v1.sparkline.11ty.dev/120x30/{{ collections.posts | getMonthlyPostCount }}/{{ '#94b388' | encodeUriComponent }}/" width="120" height="30" alt="Sparkline representing frequency of posts written from 2007 to {{ currentYear }}" loading="lazy" decoding="async" class="spark-img" eleventy:ignore>
						<span>{{ currentYear }}</span>
					</a>

					<div class="tags tags-rail tags-rail-top5 hide-singlecol">
						{%- if collections.pinnedPosts | size %}
						<div>
							<div class="top5">📌 Pinned</div>
							{%- for post in collections.pinnedPosts limit:1 %}
								<a href="{{ post.url }}" class="tag tag-popular-rail tag-pinned-rail tag-borderless">{{ post.data.title }}</a>
							{%- endfor %}
						</div>
						{%- endif %}

					{%- if hasToc != true and hidePostsInSidebar != true %}
						<div>
							<div class="top5"><a href="/web/best-of/">Popular{% icon "fas:fire-flame-curved" %}</a></div>

							{% for post in collections.popularPostsRanked limit:4 %}
							<a href="{{ post.url }}" class="tag tag-popular-rail tag-borderless">{{ post.data.title }}</a>
							{% endfor %}
						</div>
					{%- endif %}
					</div>
				</div>
			</nav>
		</aside>
	</div>
</div>
<main class="content-main" data-role="main" id="skiplink-content">
	{{ content }}
	{% include "footer.html" %}
</main><!-- /.content -->

{% getBundle "fontawesome" %}

<div class="hamburger">
	<is-land on:idle on:visible on:media="(prefers-reduced-motion: no-preference) and (min-width: 61.1875em)">
		<infinity-burger theme-fn></infinity-burger>

		<template data-island="once">
			<style>
			/* Desktop only, for extra laughs */
			@media (max-width: 61.1875em) { /* 979px */
				infinity-burger {
					display: none;
				}
			}
			</style>
{%- if JS_ENABLED %}
			<script>
			function InfinityBurgerColor(count) {
				return `hsl(${count * 5 % 360}, 100%, 50%)`
			}
			</script>
			<script type="module" src="/static/infinity-burger.js"></script>
{%- endif %}
		</template>
	</is-land>

	{%- if JS_ENABLED %}
	<time-difference class="built-ago-sidebar" live><em>Built <time datetime="{{ currentDate | dateToISO }}" title="{{ currentDate | dateToISO }}">{{ currentDate | readableDate }}</time></em></time-difference>
	<script type="module" src="/static/js/time-difference.js"></script>
{%- endif %}
</div>
