---
layout: layouts/page.liquid
enableWebmentions: true
showAbout: true
disableComments: false
---
{% assign noteCount = collections.note | size %}
<em class="p-description notes-subnote">This is a note written on {{ page.date | readableDate }}. It is short. It is terse. In total I’ve written <a href="{{ "/web/notes/" | url }}">{{ noteCount }} note{% if noteCount != 1 %}s{% endif %}</a>.{% if tweet %} This note was inspired by <a href="{{ tweet }}">a tweet</a>.{% endif %} Subscribe to the <a href="/web/notes/feed/">Notes RSS feed</a>.</em>
<div class="e-content">
	{{ content }}
</div>

<div class="notes-backlink"><em class="notes-subnote"><a href="/web/notes/">⬅ Show all notes</a>. {% if note-tags %}This note is tagged {% for tag in note-tags %}🏷 <a href="/web/notes/tag/{{ tag | slug }}/">{{ tag | downcase }}</a> {% endfor %}{% endif %}</em></div>

