---
layout: layouts/default.liquid
enableWebmentions: true
tmpl: page
---
<article class="h-entry">
	<h1 class="p-name primary-title{% if smalltitle %} primary-title-smalltitle{% endif %}">{% if titleHtml %}{{ titleHtml }}{% else %}{{ title | longWordWrap }}{% endif %}</h1>
	<div class="content-grid-sibling">
		<div class="sub p-description">
			<em class="date">{{ page.date | readableDate }}</em>
{%- assign postRank = analytics[page.url].rankPerDaysPosted %}
{% if postRank and postRank <= 20 %}
			<em class="words"><a href="/web/best-of/">#{{ postRank }} Popular</a></em>
{% if analytics[page.url].pageViews > 10000 %}
			<em class="words">{{ analytics[page.url].pageViews | renderNumber }} Views</em>
{% endif %}
{% endif %}
{% if tags contains 'video' %}
			<em class="words">Watch in {{ medialength | medialengthCleanup }}</em>
{% endif %}
{% if tweet or toot %}
			<em>First, it was {% if tweet %}<a href="{{ tweet }}">a tweet</a>{% elsif toot %}<a href="{{ toot }}">a mastodon post</a>{% endif %}.</em>
{% endif %}
{% if metadata.speaking.country %}
			<span>{{ metadata.speaking.country | nameToFlag }} <em> {{ metadata.speaking.country }}</em></span>
{% endif %}
{% if tags contains "web-components" or tags contains "eleventy" or tags contains "web-fonts" or tags contains "project" or tags contains "speaking" %}
			<em>Tagged:
	{% if tags contains "eleventy" %}<a href="/web/?category=eleventy">Eleventy</a>{% endif %}
	{% if tags contains "project" %}<a href="/web/?category=project">Project</a>{% endif %}
	{% if tags contains "speaking" %}<a href="/web/?category=speaking">Speaking</a>{% endif %}
	{% if tags contains "web-components" %}<a href="/web/?category=web-components">Web Components</a>{% endif %}
	{% if tags contains "web-fonts" %}<a href="/web/?category=web-fonts">Web Fonts</a>{% endif %}
			</em>
{% endif %}
		</div>
{% if deprecated %}
		<article class="content-sibling">
			<div class="callout">
				<h3>Warning</h3>
				<p>This article is old and may contain information that is outdated, irrelevant, or—dare I say it—no longer accurate. Read with care!</p>
			</div>
		</article>
{% endif %}
{% if external_url and external_url_location != "end" %}
		<article class="content-sibling">
			{%- if tags contains 'upcoming' %}
			<p><em>This is an upcoming event on {{ date | date: "%B %-d, %Y" }}, learn more at: <a href="{{ external_url }}">{{ external_url }}</a></em></p>
			{%- else %}
			{%- unless ignoreExternalLinkInLayoutFile %}
			<p>
				{%- if metadata.speaking and not tags contains "future-event" %}
				<em class="text-ellipsis">Originally: <a href="{{ external_url }}"><span>{{ external_url }}</span></a></em>
				{%- else %}
				<em>Originally posted at: <a href="{{ external_url }}"><span>{{ external_url }}</span></a></em>
				{%- endif %}
			</p>
			<p>{%- originalPostEmbed external_url %}</p>
			{%- endunless %}
			{%- endif %}
		</article>
{% endif %}
	</div>
	<div class="content-grid e-content favicon-optin">
	{{ content }}
	</div>
{% if external_url_location == "end" %}
	<div class="content-grid-sibling">
		<article class="content-sibling">
			<hr>
			<p>
				<em>Originally posted at:</em>
				{%- originalPostEmbed external_url %}
			</p>
		</article>
	</div>
{% endif %}
</article>

{% if tags contains "web-components" %}
<article class="content-grid-sibling">
	<p><em>This is a post about web components! Check out <a href="/web/?category=web-components">all the web components posts</a>.</em></p>
</article>
{% endif %}

<article class="content-grid-sibling" data-pagefind-ignore>
	{% include "about.html" %}
</article>

<article class="content-grid-sibling" data-pagefind-ignore>
	{% assign previousPost = collections.posts | getPreviousCollectionItem: page %}
	{% assign nextPost = collections.posts | getNextCollectionItem: page %}

	<dl class="nextprev">
	{%- if previousPost %}
		<dt class="nextprev-prev">
			<span>Newer:</span>
			<a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
		</dt>
		<dd class="nextprev-prev">
			<a href="{{ previousPost.url }}">
				{% opengraphImageHtml previousPost %}
			</a>
		</dd>
	{%- endif %}
	{%- if nextPost %}
		<dt class="nextprev-next">
			<span>Older:</span>
			<a href="{{ nextPost.url }}">
				{{ nextPost.data.title }}
			</a>
		</dt>
		<dd class="nextprev-next">
			<a href="{{ nextPost.url }}">
				{% opengraphImageHtml nextPost %}
			</a>
		</dd>
	{%- endif %}
	</dl>
</article>

{% unless disableComments %}
	{%- capture absoluteUrl -%}{{ page.url | absoluteUrl }}{%- endcapture -%}
	{% include "webmentionlist", absoluteUrl: absoluteUrl %}
{% endunless %}

{%- assign isDraft = tags | includes: "draft" %}
{% unless isDraft %}
<div id="opengraph-preview" class="share content-grid-sibling" data-pagefind-ignore>
	<details>
		<summary class="hed-h4"><strong>Sharing on social media?</strong></summary>
		<p>This is what will show up when you share this post on Social Media:</p>
		<img class="share-img" src="{% if headimage %}{{ headimage | absoluteUrl }}{% else %}{% ogImageSource page %}{% endif %}" decoding="async" loading="lazy" width="1200" height="630">
		<p>How did you do this? <a href="/web/automatic-opengraph/">I automated my Open Graph images.</a> (<a href="/opengraph{{ page.url }}">Peer behind the curtain at the test page</a>)</p>
	</details>
</div>
{% endunless %}