---
layout: layouts/default.liquid
enableWebmentions: true
tmpl: page
---
<article class="h-entry">
	<h1 class="p-name primary-title{% if smalltitle %} primary-title-smalltitle{% endif %}">{% if titleHtml %}{{ titleHtml }}{% else %}{{ title | longWordWrap }}{% endif %}</h1>
{% if posterImage.showOnPage and seo.openGraphBackgroundImage %}
	{% if posterImage.showOnPage == "inline" %}
	<div class="content-grid e-content">
	{% endif %}
		<div class="fullwidth fullwidth-poster m-4{% if posterImage.showOnPage == "inline" %} fullwidth-poster--inline{% endif %}" style="{% if posterImage.height %}--poster-maxheight: {{ posterImage.height }};{% endif %}{% if posterImage.offset %}--poster-offset: {{ posterImage.offset }}{% endif %}">{% imageInline seo.openGraphBackgroundImage, seo.openGraphAlt, true %}</div>
	{% if posterImage.showOnPage == "inline" %}
	</div>
	{% endif %}
{% endif %}
	<div class="content-grid-sibling">
		<div class="sub p-description">
			<em class="date">{{ page.date | readableDate }}</em>
{%- assign postRank = analytics[page.url].rankPerDaysPosted %}
{% if postRank and postRank <= 20 %}
			<em><a href="/web/best-of/">#{{ postRank }} Popular</a></em>
{% endif %}
{% if tags contains 'video' %}
			<em>Watch in {{ medialength | medialengthCleanup }}</em>
{% endif %}
{%- if tweet %}
			<em><a href="{{ tweet | tweetbackUrl }}">On Twitter (archived)</em></a>
{%- elsif toot %}
			<em><a href="{{ toot }}">On Mastodon</a></em>
{%- endif %}
{% if metadata.speaking.country %}
			<span>{{ metadata.speaking.country | nameToFlag }} <em> {{ metadata.speaking.country }}</em></span>
{% endif %}
		</div>
{% if deprecated %}
		<article class="content-sibling">
			<div class="callout">
				<h3>Warning</h3>
				<p>This article is old and may contain information that is outdated, irrelevant, or—dare I say it—no longer accurate. Read with care!</p>
			</div>
		</article>
{% endif %}
{% if external_url and external_url_location != "end" %}
		<article class="content-sibling">
			{%- if tags contains 'upcoming' %}
			<p><em>This is an upcoming event on {{ date | date: "%B %-d, %Y" }}, learn more at: <a href="{{ external_url }}">{{ external_url }}</a></em></p>
			{%- else %}
			{%- unless ignoreExternalLinkInLayoutFile %}
			<p>
				{%- if metadata.speaking and not tags contains "future-event" %}
				<em class="text-ellipsis">Originally: <a href="{{ external_url }}"><span>{{ external_url }}</span></a></em>
				{%- else %}
				<em>Originally posted at: <a href="{{ external_url }}"><span>{{ external_url }}</span></a></em>
				{%- endif %}
			</p>
			<p>{%- originalPostEmbed external_url %}</p>
			{%- endunless %}
			{%- endif %}
		</article>
{% endif %}
	</div>
	<div class="content-grid e-content favicon-optin">
	{{ content }}
	</div>
{% if external_url_location == "end" %}
	<div class="content-grid-sibling">
		<article class="content-sibling">
			<hr>
			<p>
				<em>Originally posted at:</em>
				{%- originalPostEmbed external_url %}
			</p>
		</article>
	</div>
{% endif %}
</article>

<hr>
<article class="content-grid-sibling">
	<p class="post-metadata">
		{%- if tags contains "web-components" or tags contains "eleventy" or tags contains "web-fonts" or tags contains "project" or tags contains "speaking" %}
		<em>Tagged:
{% if tags contains "eleventy" %}<a href="/web/?category=eleventy">Eleventy</a>{% endif %}
{% if tags contains "project" %}<a href="/web/?category=project">Project</a>{% endif %}
{% if tags contains "speaking" %}<a href="/web/?category=speaking">Speaking</a>{% endif %}
{% if tags contains "web-components" %}<a href="/web/?category=web-components">Web Components</a>{% endif %}
{% if tags contains "web-fonts" %}<a href="/web/?category=web-fonts">Web Fonts</a>{% endif %}
		</em>
	{%- endif %}
	{%- assign postRank = analytics[page.url].rankPerDaysPosted %}
	{%- assign postRankAllTime = analytics[page.url].rankTotal %}
	{% if postRank and postRank <= 20 or postRankAllTime and postRankAllTime <= 20 %}
		<span><a href="/web/best-of/">#{{ postRank }} Popular 🔥</a></span>
		<span><a href="/web/best-of/total-views/">#{{ postRankAllTime }} ☀️</a></span>
	{% endif %}
	{%- if analytics[page.url].pageViews > 1000 %}
		<em><code>{{ analytics[page.url].pageViews | renderNumber }}</code> Views</em>
	{%- endif %}
	</p>
	{%- if posterImage.source %}
	<p><a href="{{ posterImage.source }}"><em>{% indieAvatar "https://unsplash.com/" %}Poster image{% if posterImage.name %} by {{ posterImage.name }}{% endif %}</em></a></p>
	{%- endif %}
</article>

<article class="content-grid-sibling" data-pagefind-ignore>
	{% assign previousPost = collections.activePosts | getPreviousCollectionItem: page %}
	{% assign nextPost = collections.activePosts | getNextCollectionItem: page %}

	<dl class="nextprev">
		<dt class="nextprev-prev">
			{%- if previousPost %}
			<span>&lt; Newer</span>
			{%- endif %}
		</dt>
		<dd class="nextprev-prev">
			{%- if previousPost %}
			<a href="{{ previousPost.url }}">
				{% opengraphImageHtml previousPost, previousPost.data.title %}
			</a>
			{%- endif -%}
		</dd>
		<dt class="nextprev-next">
			{%- if nextPost %}
			<span>Older &gt;</span>
			{%- endif %}
		</dt>
		<dd class="nextprev-next">
			{%- if nextPost %}
			<a href="{{ nextPost.url }}">
				{% opengraphImageHtml nextPost, nextPost.data.title %}
			</a>
			{%- endif -%}
		</dd>
	</dl>
</article>

<article class="content-grid-sibling" data-pagefind-ignore>
	{% include "about.html" %}
</article>

{% unless disableComments %}
	{%- capture absoluteUrl -%}{{ page.url | absoluteUrl }}{%- endcapture -%}
	{% include "webmentionlist", absoluteUrl: absoluteUrl %}
{% endunless %}

{%- assign isDraft = tags | includes: "draft" %}
{% unless isDraft %}
<div id="opengraph-preview" class="share content-grid-sibling" data-pagefind-ignore>
	<details>
		<summary class="hed-h4"><strong>Sharing on social media?</strong></summary>
		<p>This is what will show up when you share this post on Social Media:</p>
		<img class="share-img" src="{% ogImageSource page %}" decoding="async" loading="lazy" width="1200" height="630">
		<p>How did you do this? <a href="/web/automatic-opengraph/">I automated my Open Graph images.</a> (<a href="/opengraph{{ page.url }}">Peer behind the curtain at the test page</a>)</p>
	</details>
</div>
{% endunless %}