---
pagination:
  data: "collections.posts"
  size: 1
  alias: "post"
layout: layouts/base.liquid
permalink: "/opengraph{{ post.url }}"
stylesheetsDist:
  - opengraph.css
eleventyComputed:
  sourceUrl: "https://www.zachleat.com{{ post.url }}"
  quote: "{{ quotes | selectRandomFromArray }}"
quotes:
  - The person that shared this is awesome
secondScreenshotBackgroundOptions:
  timeout: 5
noindex: true
---
{% comment %}
More Ideas:
* Git last updated
* Put a TL;DR right there in the OG image (with alt text of course)
{% endcomment %}
{%- capture absoluteUrl -%}{{ post.url | absoluteUrl }}{%- endcapture -%}
{%- assign webmentionsCount = webmentions | webmentionsForUrl: absoluteUrl | size -%}
<div class="slide slide-chromeless slide-preview slide-preview-vertical slide-preview-60-40" tabindex="0" autofocus>
  <div class="frame">
    <div class="window frame-resizer-main">
      <main class="main main-bgimg" style="--og-bgimage: url('{% if post.data.seo.openGraphBackgroundImage %}{{ post.data.seo.openGraphBackgroundImage }}{% elsif post.data.overrideOgImageScreenshotBackground %}{% rawScreenshotImageFromFullUrl post.data.overrideOgImageScreenshotBackground, secondScreenshotBackgroundOptions %}{% elsif post.data.external_url %}{% rawScreenshotImageFromFullUrl post.data.external_url, secondScreenshotBackgroundOptions %}{% else %}{% rawScreenshotImage post.url, secondScreenshotBackgroundOptions %}{% endif %}')">
        <div class="main-top">
          {%- capture titleContent %}
            {%- if post.data.titleHtml %}{{ post.data.titleHtml }}{% else %}{{ post.data.title }}{% endif %}
          {%- endcapture %}
          <h1 class="primary-title main-hed{% if titleContent.length > 68 %} main-hed-long{% endif %}">
            <span class="main-box">{{ titleContent }}</span>
            {% comment %}<span class="main-hed-sup main-box main-box-nowrap"></span> {% endcomment %}
          </h1>
        </div>
        {%- unless post.data.opengraphSkipFace %}
        <p class="main-left">
          <img src="/img/avatar-2017-powerstance.png" width="336" height="288" alt="Zach standing in a powerstance, to appear powerful" loading="lazy" decoding="async" class="main-avatar-img-big">
        </p>
        {%- endunless %}
        <p class="main-center"></p>
        <p class="main-right">
          <strong class="main-host main-box">zachleat.com</strong>
          <span class="main-postnumber main-box main-box-nowrap">№{{ pagination.pages.length | minus: pagination.pageNumber }}</span>
          <strong class="main-box main-box-nowrap">{{ post.date | readableDate }}</strong>
        </p>
      </main>
    </div>
  </div>
</div>